.ag-charts-popover {
    position: absolute;
    display: grid;
    grid: auto-flow auto / 1fr;
    column-gap: 12px;
    min-width: 200px;
    border: var(--ag-charts-popover-border);
    border-radius: 4px;
    padding: 6px 0;
    background: var(--ag-charts-popover-background-color);
    color: var(--ag-charts-popover-foreground-color);
    font-size: var(--ag-charts-toolbar-font-size-small);
    overflow: hidden;
}

.ag-charts-popover:has(.ag-charts-popover__icon) {
    grid: auto-flow auto / auto 1fr;
}

.ag-charts-popover__row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    padding: 4px 12px;
}

.ag-charts-popover__row:focus {
    background: var(--ag-charts-toolbar-hover-color);
}

.ag-charts-popover__row--active {
    background: var(--ag-charts-popover-active-background-color);
    color: var(--ag-charts-popover-focus-color);
}

.ag-charts-popover__label {
    grid-column: -1 / span 1;
}
