@use '../../../design-system' as *;

.seriesChart {
    width: 100%;
    margin-bottom: $spacing-size-8;

    @media screen and (min-width: 820px) {
        width: 50%;
        margin-bottom: 0;
        padding-right: $spacing-size-6;
    }
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4 / 3;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-primary);

    #{$selector-darkmode} & {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.seriesList {
    @media screen and (min-width: 820px) {
        width: 50%;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $spacing-size-4;

        @media screen and (min-width: 820px) {
            justify-content: flex-start;
        }
    }
}

.buttonActive {
    --button-color: var(--azure-blue);
    --button-text-color: var(--ghost-white);
}
