.ag-charts-zoom-buttons {
    direction: ltr; /* Force LTR until official support for RTL is added to toolbars. */
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 10px;
    pointer-events: none;
    width: 100%;

    .ag-charts-toolbar {
        --toolbar-size: 24px;
        --toolbar-button-padding: 1px;

        display: flex;
        font-size: var(--ag-charts-chrome-font-size);
        height: var(--toolbar-size);
        justify-content: center;
        opacity: 1;
        pointer-events: auto;
        transition:
            opacity 0.2s ease-in-out,
            transform 0.4s ease-in-out;

        /* TODO: move these out once toolbar.css is cleaned up */
        .ag-charts-toolbar__button--first {
            border-end-start-radius: var(--ag-charts-border-radius);
            border-start-start-radius: var(--ag-charts-border-radius);
        }

        .ag-charts-toolbar__button--last {
            border-end-end-radius: var(--ag-charts-border-radius);
            border-start-end-radius: var(--ag-charts-border-radius);
        }

        .ag-charts-toolbar__label {
            padding-inline-start: var(--ag-charts-spacing);
            padding-inline-end: var(--ag-charts-spacing);
        }

        .ag-charts-toolbar__icon + .ag-charts-toolbar__label {
            padding-inline-start: 0;
        }

        .ag-charts-toolbar__button--gap {
            margin-inline-start: var(--toolbar-gap);
        }

        &.ag-charts-zoom-buttons__toolbar--hidden {
            opacity: 0;
            transition:
                opacity 0.4s ease-in-out,
                transform 0.4s ease-in-out;
        }
    }
}
