.ag-charts-overlay {
    color: #181d1f;
    pointer-events: none;
}

.ag-charts-overlay.ag-charts-dark-overlay {
    color: #ffffff;
}

.ag-charts-overlay--loading {
    color: rgb(140, 140, 140); /* DEFAULT_MUTED_LABEL_COLOUR */
}

.ag-charts-overlay__loading-background {
    background: white; /* DEFAULT_BACKGROUND_FILL */
    pointer-events: none;
}

.ag-charts-overlay.ag-charts-dark-overlay .ag-charts-overlay__loading-background {
    background: #192232; /* DEFAULT_DARK_BACKGROUND_FILL */
}
