/* Reset full-screen page border rendering to avoid conflicting with chart rendering */
body {
    padding: unset !important;
}

div:has(> .ag-charts-wrapper),
ag-charts,
ag-financial-charts {
    padding: 1rem !important;
    border-radius: unset !important;
    background-color: unset !important;
    border: unset !important;
}
