/* Reset full-screen page border rendering to avoid conflicting with chart rendering */
body {
    --chart-bg: transparent !important;
    --chart-border: transparent !important;

    padding: 1rem !important;
}

div:has(> .ag-charts-wrapper),
ag-charts,
ag-financial-charts {
    padding: unset !important;
    border-radius: unset !important;
    background-color: unset !important;
    border: unset !important;
}
