# Add files here to ignore them from prettier formatting
/dist
/coverage
/packages/ag-charts-community/dist
/packages/ag-charts-enterprise/dist
/packages/ag-charts-community-examples/src
/packages/ag-charts-website/.astro
/packages/ag-charts-website/src/layouts/Layout.astro
/packages/ag-charts-angular/dist
/packages/ag-charts-react/dist
/packages/ag-charts-vue3/dist
/packages/ag-charts-vue3/lib
/external/ag-website-shared/
/packages/ag-charts-angular/projects/ag-charts-angular/src/test.ts

/.nx/cache