# Add files here to ignore them from prettier formatting
/dist
/coverage
/packages/ag-charts-community/dist
/packages/ag-charts-enterprise/dist
/packages/ag-charts-community-examples/src
/packages/ag-charts-website/.astro
/packages/ag-charts-website/src/layouts/Layout.astro
/packages/ag-charts-angular/dist
/packages/ag-charts-react/dist
/packages/ag-charts-vue3/dist
/packages/ag-charts-vue3/lib
/packages/ag-charts-angular/projects/ag-charts-angular/src/test.ts
/tests/**/patches/*

/.nx/cache
/.nx/workspace-data

# Comment in astro file
external/ag-website-shared/src/components/documentation-archive/DocumentationArchiveSection.astro

# With script tag
packages/ag-charts-website/src/components/example-runner/components/FrameworkTemplate.astro

.prettierrc
tsconfig.base.json

# Files without Prettier parsers
*.patch
*.sh
.gitrepo
.nxignore

# External subrepo (managed separately)
external/ag-shared/
