@use '../design-system' as *;

:global {
    .pageSections article {
        > h2 {
            margin-top: $size-6;
        }

        > h3,
        > h4 {
            margin-top: $size-4;
        }

        p,
        > ul,
        > ol,
        > table,
        > pre {
            font-size: var(--font-size-medium);
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > ul,
        > ol,
        > table,
        > hr {
            @media screen and (min-width: $max-page-width) {
                @include font-size-responsive();
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:hover .docs-header-icon {
            opacity: 0.5;
        }
    }
}

.docPageWrapper {
    --docs-page-max-width: 68em;
    --horizontal-padding: max(calc((100vw - var(--max-page-width)) / 2), var(--horizontal-margin));

    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) and (max-width: $breakpoint-docs-nav-large) {
        padding-right: var(--horizontal-margin);
    }

    @media screen and (min-width: $breakpoint-docs-nav-extra-large) {
        --docs-page-max-width: 74em;
    }

    &.hidePageMenu {
        padding-left: var(--horizontal-padding);
    }
}

%enterprise-icon {
    display: inline-block;
    background-image: url('../../images/enterprise.svg');
    text-indent: -10000px;
    background-position-y: center;
    background-repeat: no-repeat;
    content: 'e';
}

.docPage {
    flex: 1 1 0px;
    min-width: 0px;
    padding-top: $size-4 + $size-half;
    padding-bottom: $size-7;

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        padding-right: $size-7;
        max-width: var(--docs-page-max-width);
    }

    &.noSideMenu {
        @media screen and (min-width: $breakpoint-docs-nav-large) {
            padding-right: $horizontal-margin;
            max-width: none;
        }

        @media screen and (min-width: 1600px) {
            padding-right: calc(50vw - $max-page-width / 2);
        }
    }

    enterprise-icon::after {
        @extend %enterprise-icon;

        width: 1rem;
        margin-left: 0.25rem;
    }

    a {
        &:hover {
            text-decoration: none;
            color: var(--ag-grid-orange);
        }
    }

    :global(.nav-link) {
        p {
            margin: 0;
        }
    }

    ul li > p {
        margin-bottom: 0.25rem;
    }

    :global(.alert) {
        margin-bottom: $size-2;
    }
}

// Align two column markdown tables
.pageSections > :global(article) > :global(table) {
    table-layout: fixed;
}

// Hack to target "intro" section of docs page
.pageSections > :global(article) > :global(p:first-child) {
    --font-size-extra-large: #{$font-size-extra-large};

    font-size: var(--font-size-extra-large);
    margin-bottom: $size-4;

    code {
        font-size: 0.8em;
    }
}

// Hack to target markdown images and not images within components
.pageSections > :global(article) > :global(div) *:not([class]) :global(img) {
    max-width: 100%;
}

.sideMenu {
    padding-top: $size-4 + $size-half;
}
