@use '../design-system' as *;

:global {
    .pageSections article {
        > h2 {
            margin-top: $spacing-size-12;
        }

        > h3,
        > h4 {
            margin-top: $spacing-size-8;
        }

        p,
        > ul,
        > ol,
        > table,
        > pre {
            font-size: var(--text-fs-base);
        }
    }
}

%enterprise-icon {
    display: inline-block;
    background-image: url('../../images/enterprise.svg');
    text-indent: -10000px;
    background-position-y: center;
    background-repeat: no-repeat;
    content: 'e';
}

.docPage {
    flex: 1 1 0px;
    min-width: 0px;
    padding-top: $spacing-size-8 + $spacing-size-1;
    padding-right: var(--horizontal-margin);
    padding-left: var(--horizontal-margin);
    padding-bottom: $spacing-size-16;
    position: relative;

    @media screen and (min-width: $breakpoint-docs-nav-large) {
        padding-left: $spacing-size-8;
        padding-right: $spacing-size-16;
        max-width: var(--docs-page-max-width);
    }

    @media screen and (min-width: $breakpoint-docs-nav-extra-large) {
        padding-left: 0;
    }

    &.noSideMenu {
        @media screen and (min-width: $breakpoint-docs-nav-large) {
            padding-right: $horizontal-margin;
            max-width: none;
        }

        @media screen and (min-width: 1600px) {
            padding-right: calc(50vw - $max-page-width / 2);
        }
    }

    enterprise-icon::after {
        @extend %enterprise-icon;

        width: 1rem;
        margin-left: 0.25rem;
    }

    :global(.nav-link) {
        p {
            margin: 0;
        }
    }

    ul li > p {
        margin-bottom: 0.25rem;
    }

    :global(.alert) {
        margin-bottom: $spacing-size-4;
    }
}

// Align two column markdown tables
.pageSections > :global(article) > :global(table) {
    table-layout: fixed;
}

// Hack to target "intro" section of docs page
.pageSections > :global(article) > :global(p:first-child) {
    --font-size-extra-large: #{$font-size-extra-large};

    font-size: var(--font-size-extra-large);
    margin-bottom: $spacing-size-8;

    code {
        font-size: 0.8em;
    }
}

// Hack to target markdown images and not images within components
.pageSections > :global(article) > :global(div) *:not([class]) :global(img) {
    max-width: 100%;
}

.sideMenu {
    padding-top: $spacing-size-8 + $spacing-size-1;
}
