.ag-charts-popover {
    position: absolute;
    border-color: var(--ag-charts-border-color);
    border-radius: var(--ag-charts-border-radius);
    border-style: solid;
    border-width: var(--ag-charts-border-width);
    background: var(--ag-charts-panel-background-color);
    color: var(--ag-charts-chrome-text-color);
    font-family: var(--ag-charts-chrome-font-family);
    font-size: var(--ag-charts-chrome-font-size);
    font-weight: var(--ag-charts-chrome-font-weight);
    box-shadow: var(--ag-charts-popup-shadow);
    z-index: var(--ag-charts-layer-ui-overlay);
}
