@use '../../design-system' as *;

.version {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-size-4 $spacing-size-4 0 $spacing-size-4;
    border-radius: 8px;
    border: 1px solid var(--border-color);

    #{$darkmode-selector} & {
        background: #122835;
        border: 1px solid #394755;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 8px;

        b {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--default-text-color);
        }

        span {
            font-size: 1rem;
            color: var(--secondary-text);
            opacity: 0.7;

            #{$darkmode-selector} & {
                color: #c3cad3;
                opacity: 1;
            }
        }

        a {
            text-decoration: none;
            color: var(--link-color);
            font-size: 1rem;

            #{$darkmode-selector} & {
                color: rgb(56, 147, 249);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        margin-top: 8px;
        margin-bottom: 4px;
        font-size: 1rem;
        color: var(--text-color);

        #{$darkmode-selector} & {
            color: #c3cad3;
        }
    }

    ul {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        list-style: none;
        padding-left: 0;
        margin-bottom: 16px;

        li::before {
            content: '• ';
            color: #c3cad3;
            font-weight: bold;
        }

        a {
            color: var(--link-color);
            text-decoration: none;
            font-size: 1rem;

            #{$darkmode-selector} & {
                color: rgb(56, 147, 249);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    a {
        font-size: 0.875rem;
    }
}

.line {
    border-bottom: 1px solid var(--border-color);

    #{$darkmode-selector} & {
        border-bottom: 1px solid #394755;
    }
}

.topheader {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.changelog {
    width: 100%;
    display: flex;
    justify-content: center;

    #{$darkmode-selector} & {
        background: #2a343e;
    }
}

.bloglink {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 17px;

    color: var(--link-color);

    #{$darkmode-selector} & {
        color: #c3cad3 !important;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex a {
    width: auto;
}

.major-text {
    border: 1px solid rgb(255, 140, 0);
    border-radius: 24px;
    color: rgb(255, 140, 0) !important;
    padding: 2px 8px;
    font-weight: 500;
}

.buttonSecondary {
    width: 100%;
    display: flex !important;
    justify-content: center !important;

    margin-bottom: 16px;
    #{$darkmode-selector} & {
        background: #2a343e;
    }
}
