.ag-charts-focus.ag-charts-focus__indicator {
    position: absolute;
    display: block;
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

.ag-charts-focus.ag-charts-focus__indicator > div {
    position: absolute;
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
}

.ag-charts-focus.ag-charts-focus__indicator > svg {
    width: 100%;
    height: 100%;
}

.ag-charts-focus.ag-charts-focus__indicator > svg > * {
    fill: rgba(0, 0, 0, 0);
    stroke: var(--ag-charts-focus-border-color);
    stroke-width: 2px;
}

.ag-charts-focus--hidden {
    visibility: hidden;
}
