[class^='ag-charts'],
[class^='ag-charts']:focus,
[class^='ag-charts']:after,
[class^='ag-charts']:before {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

button[class^='ag-charts'] {
    background: none;
    border: 0;
}
