.ag-charts-menu {
    --item-padding: 6px 12px;
    --icon-color: var(--ag-charts-menu-text-color);
    display: grid;
    grid: auto-flow auto / 1fr;
    column-gap: 12px;
    font-size: var(--ag-charts-chrome-font-size);
}

.ag-charts-menu:has(.ag-charts-menu__icon, .ag-charts-menu__row--stroke-width-visible) {
    grid: auto-flow auto / auto 1fr;
}

.ag-charts-menu__row--stroke-width-visible::before {
    content: '';
    height: var(--strokeWidth);
    width: 12px;
    background: var(--icon-color);
}

.ag-charts-menu__row--stroke-width-visible[aria-disabled='true']::before {
    filter: grayscale(1);
    opacity: 0.5;
}

.ag-charts-menu__row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    padding: var(--item-padding);
}

.ag-charts-menu__row:not(.ag-charts-menu__row--active) {
    cursor: pointer;
}

.ag-charts-menu__row:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.ag-charts-menu__row:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.ag-charts-menu__row:focus {
    background: var(--ag-charts-focus-color);
}

.ag-charts-menu__row:focus-visible {
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: var(--ag-charts-layer-menu);
}

.ag-charts-menu__row--active {
    --icon-color: var(--ag-charts-accent-color);
    background: var(--ag-charts-focus-color);
    color: var(--ag-charts-accent-color);
}

.ag-charts-menu__label {
    grid-column: -1 / span 1;
    text-wrap: nowrap;
}
