@use 'design-system' as *;

.toolPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $spacing-size-4;

    h1 {
        margin-bottom: 0px;
    }

    @media screen and (min-width: $breakpoint-site-header-small) {
        margin-top: 0;
    }
}
