@use 'design-system' as *;

:root {
    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        --layout-scroll-offset: 140px !important;
    }

    @media screen and (max-width: $breakpoint-gallery-small) {
        --layout-scroll-offset: 204px !important;
    }
}

.toolPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $spacing-size-4;

    h1 {
        margin-bottom: 0px;
    }

    @media screen and (min-width: $breakpoint-site-header-small) {
        margin-top: 0;
    }
}
