@use 'design-system' as *;

.container {
    display: flex;
    flex-direction: column;
}

.container > div:nth-child(even) {
    background-color: var(--color-gray-50);
}

.section {
    padding: $spacing-size-8;
}

.heroSectionInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .whatsNewTagContainer {
        display: flex;
        border-radius: var(--radius-4xl);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        align-self: center;
        background-color: var(--color-brand-200);

        .whatsNewVersion {
            border: 2px solid var(--color-util-brand-200);
            background: var(--color-bg-primary);
            border-radius: var(--radius-4xl);
            margin: $spacing-size-1;
            padding: 0 $spacing-size-2;
            font-size: var(--text-fs-sm);
            font-weight: var(--text-base);
            color: var(--color-brand-500);
        }

        .whatsNewText {
            padding: 0 $spacing-size-2;
            font-size: var(--text-fs-sm);
            font-weight: var(--text-base);
            color: var(--color-brand-500);
        }

        .whatsNewArrow {
            padding: $spacing-size-2;
            fill: var(--color-brand-500);
        }
    }

    .headingContainer {
        margin-top: $spacing-size-8;

        h1 {
            margin-bottom: 0;
            font-size: 22px;
            color: var(--color-brand-400);
        }

        h2 {
            font-size: 72px;
            line-height: 77px;
            padding: 0 64px;
            font-weight: var(--text-bold);
        }

        h3 {
            margin: $spacing-size-8;
            font-family: var(--text-font-family);
            font-size: var(--text-fs-lg);
            line-height: var(--text-lh-base);
            font-weight: var(--text-regular);
            color: var(--color-text-primary);
        }
    }

    .ctaContainer {
        margin-bottom: $spacing-size-8;
    }

    .heroImage {
        max-width: 100%;
        border-radius: var(--radius-2xl);
        border: 1px solid var(--color-gray-200);
    }

    .galleryCta {
        padding: $spacing-size-4 0;
        align-self: flex-end;
    }
}

.enterpriseFeaturesSectionInner {
}

.twoColumnContainer {
    display: flex;
    .column {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
    }
}

.sectionHeaderContainer {
    text-align: center;

    h2 {
        margin-bottom: 0;
        font-size: 22px;
        color: var(--color-brand-400);
    }

    h3 {
        font-size: 48px;
        line-height: 77px;
        padding: 0 64px;
        font-weight: var(--text-bold);
    }

    h4 {
        margin: $spacing-size-2;
        font-family: var(--text-font-family);
        font-size: var(--text-fs-lg);
        line-height: var(--text-lh-base);
        font-weight: var(--text-regular);
        color: var(--color-text-primary);
    }
}
