@use 'design-system' as *;

.container {
    display: flex;
    flex-direction: column;
}

.container > div:nth-child(even) {
    background-color: var(--color-gray-50);

    #{$selector-darkmode} & {
        background-color: var(--color-util-gray-200);
    }
}

.container > div:last-child {
    padding-bottom: $spacing-size-48;
}

.section {
    padding-top: $spacing-size-16;
    padding-bottom: $spacing-size-16;
}

.homepageHero {
    background-color: var(--color-util-brand-500);
    color: var(--color-white);

    #{$selector-darkmode} & {
        background-color: var(--color-bg-primary);
    }
}

.heroInner {
    display: flex;
    flex-direction: column;
    gap: 0 $spacing-size-4;

    @media screen and (min-width: $breakpoint-site-header-large) {
        gap: 0 $spacing-size-8;
    }

    @media screen and (min-width: $breakpoint-hero-large) {
        flex-direction: row;
    }
}

.heroHeadings {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: $spacing-size-10;
    padding-bottom: $spacing-size-10;
    min-width: 500px;

    @media screen and (max-width: $breakpoint-hero-small) {
        min-width: 100%;
    }

    @media screen and (min-width: $breakpoint-hero-small) {
        padding-top: $spacing-size-10;
    }

    @media screen and (min-width: $breakpoint-hero-large) {
        align-items: flex-start;
        padding-top: $spacing-size-12;
    }

    @media screen and (min-width: $breakpoint-hero-large) {
        text-align: unset;
    }

    p,
    h1,
    h2 {
        line-height: 1.1;
        color: var(--color-white);
    }

    p,
    h1 {
        margin-bottom: 0;
        font-size: 28px;

        @media screen and (min-width: $breakpoint-hero-small) {
            font-size: var(--text-fs-2xl);
        }

        @media screen and (min-width: $breakpoint-hero-large) {
            font-size: min(3.4vw, 54px);
        }
    }

    p {
        font-weight: var(--text-bold);
    }

    h2 {
        max-width: 18em;
        margin-top: $spacing-size-10;
        margin-bottom: 1.4em;
        font-weight: var(--text-regular);

        @media screen and (min-width: $breakpoint-hero-small) {
            font-size: 24px;
        }

        @media screen and (min-width: $breakpoint-hero-large) {
            max-width: unset;
        }
    }

    a {
        padding-left: $spacing-size-8;
        background-color: var(--color-brand-200);
        color: var(--color-brand-500);
        #{$selector-darkmode} & {
            color: var(--color-bg-primary);
        }

        :global(.icon) {
            --icon-size: 1.3333em;
            fill: var(--color-brand-500);
            #{$selector-darkmode} & {
                fill: var(--color-brand-primary);
            }

            transition: transform 0.33s ease-in-out;
        }

        &:hover :global(.icon) {
            transform: translateX(4px);
        }
    }
}

.galleryScroller {
    --scroller-height: max(416px, 33vh);

    position: relative;
    height: var(--scroller-height);
    overflow: hidden;
    background-image: url(urlWithBaseUrl('/images/homepage-scroll-light.webp'));
    background-size: 100% auto;
    animation-name: scroll-hero;
    animation-duration: 220s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        height: $spacing-size-12;
    }

    &::before {
        top: 0;
        background-image: linear-gradient(var(--color-util-brand-700), transparent);
        z-index: 1;
    }

    &::after {
        bottom: 0;
        background-image: linear-gradient(transparent, var(--color-util-brand-700));
    }

    #{$selector-darkmode} & {
        background-image: url(urlWithBaseUrl('/images/homepage-scroll-dark.webp'));

        &::before {
            background-image: linear-gradient(var(--color-bg-primary), transparent);
        }

        &::after {
            background-image: linear-gradient(transparent, var(--color-bg-primary));
        }
    }

    @media screen and (min-width: $breakpoint-hero-large) {
        width: 720px;

        &::before {
            display: none;
        }
    }
}

@keyframes scroll-hero {
    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 500%;
    }
}

.galleryScrollerExample {
    background: white;

    #{$selector-darkmode} & {
        background: var(--color-bg-primary);
    }
}

.homepageFrameworks {
    background-color: var(--color-brand-100);
    padding-top: $spacing-size-4;
    padding-bottom: $spacing-size-12;

    border-bottom: 1px solid transparent;

    @media screen and (min-width: 640px) {
        padding-top: $spacing-size-12;
    }

    #{$selector-darkmode} & {
        background-color: var(--color-bg-primary);
        border-bottom-color: var(--color-border-primary);
    }
}

.frameworksInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacing-size-2;

    @media screen and (min-width: 640px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1020px) {
        gap: $spacing-size-4;
    }
}

.frameworksLabel {
    @media screen and (min-width: 1020px) {
        font-size: var(--text-fs-xl);
    }

    #{$selector-darkmode} & {
        color: var(--color-fg-primary);
    }
}

.smallRectangleLeft {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-85%, -65%);
    width: 97.5%;
    height: 50%;
    background: linear-gradient(180deg, #dde9f9 -61.34%, #ffffff 89.79%);
    z-index: -999;
    border-radius: 8px;
    border: 1px solid #0e449126;

    @media screen and (max-width: $breakpoint-landing-page-medium) {
        visibility: hidden;
    }
}

.smallRectangleRight {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(85%, -65%);
    width: 97.5%;
    height: 50%;
    background: linear-gradient(180deg, #dde9f9 -61.34%, #ffffff 89.79%);
    z-index: -999;
    border-radius: 8px;
    border: 1px solid #0e449126;

    @media screen and (max-width: $breakpoint-landing-page-medium) {
        visibility: hidden;
    }
}

.blueRectangle {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97.5%;
    height: 50%;
    background: linear-gradient(0deg, #dde9f9 -61.34%, #ffffff 89.79%);
    z-index: -999;
    border-radius: 8px;
    border-left: 1px solid linear-gradient(0deg, #dde9f9 -61.34%, #0e449126 89.79%);
    border-right: 1px solid linear-gradient(0deg, #dde9f9 -61.34%, #0e449126 89.79%);
    border-bottom: 1px solid #0e449126;

    @media screen and (max-width: $breakpoint-landing-page-medium) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #dde9f9 -61.34%, #ffffff 89.79%);
        z-index: -999;
        border-radius: 8px;
        border: none;
    }
}

.ctaButton {
    display: flex;
    justify-content: center;
    margin-top: $spacing-size-16;
}

.heroSectionInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .whatsNewTagContainer {
        display: flex;
        border-radius: var(--radius-4xl);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        align-self: center;
        background-color: var(--color-brand-200);

        .whatsNewVersion {
            border: 2px solid var(--color-util-brand-200);
            background: var(--color-bg-primary);
            border-radius: var(--radius-4xl);
            margin: $spacing-size-1;
            padding: 0 $spacing-size-2;
            font-size: var(--text-fs-sm);
            font-weight: var(--text-base);
            color: var(--color-brand-500);
        }

        .whatsNewText {
            padding: 0 $spacing-size-2;
            font-size: var(--text-fs-sm);
            font-weight: var(--text-base);
            color: var(--color-brand-500);
            line-height: 100%;
        }

        .whatsNewArrow {
            padding: $spacing-size-2;
            fill: var(--color-brand-500);
        }
    }

    .headingContainer {
        margin-top: $spacing-size-8;

        h1 {
            margin-bottom: 0;
            font-size: 22px;
            color: var(--color-brand-500);
        }

        h2 {
            font-size: 72px;
            line-height: 77px;
            padding: 0 64px;
            font-weight: var(--text-bold);
        }

        h3 {
            margin: $spacing-size-8;
            font-family: var(--text-font-family);
            font-size: var(--text-fs-lg);
            line-height: var(--text-lh-base);
            font-weight: var(--text-regular);
            color: var(--color-text-primary);
        }
    }

    .ctaContainer {
        display: flex;
        gap: $spacing-size-2;
        margin-bottom: $spacing-size-8;

        .installCta {
            display: flex;
            min-width: 315px;
            align-items: center;
            gap: $spacing-size-2;
            padding: $spacing-size-2;
            border-radius: var(--radius-md);
            background-color: var(--color-brand-200);
            color: var(--color-gray-900);
            font-family: 'SF Mono', Courier, monospace;
            justify-content: center;
        }
    }

    .heroImage {
        max-width: 100%;
        border-radius: var(--radius-2xl);
        border: 1px solid var(--color-gray-200);
    }

    .galleryCta {
        padding: $spacing-size-4 0;
        align-self: flex-end;
    }
}

.twoColumnContainer {
    display: flex;

    .columnSmall {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
    }
    .columnLarge {
        flex: 2;
        padding: 10px;
        box-sizing: border-box;
    }

    .columnEqual {
        flex: 1;
        padding: 10px;
        box-sizing: border-box;
    }
}

.sectionHeaderContainer {
    text-align: center;

    h2 {
        margin-bottom: $spacing-size-4;
        font-size: 20px;
        color: var(--color-brand-500);

        #{$selector-darkmode} & {
            color: var(--color-brand-200);
        }
    }

    h3 {
        margin-bottom: $spacing-size-6;
        font-size: var(--text-fs-2xl);
        line-height: var(--text-lh-tight);
        font-weight: var(--text-bold);

        @media screen and (min-width: $breakpoint-hero-small) {
            font-size: 48px;
        }
    }

    h4 {
        margin: $spacing-size-2;
        font-family: var(--text-font-family);
        font-weight: var(--text-regular);
        color: var(--color-text-primary);

        @media screen and (min-width: $breakpoint-hero-small) {
            font-size: var(--text-fs-lg);
        }
    }

    br {
        @media screen and (max-width: $breakpoint-landing-page-medium) {
            display: none;
        }
    }
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    gap: $spacing-size-4;
    margin: $spacing-size-8 0;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-landing-page-medium) {
        flex-direction: column;
    }
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-util-gray-200);
    border-radius: var(--radius-lg);
    padding: $spacing-size-4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    #{$selector-darkmode} & {
        border-color: var(--color-util-gray-300);
        background-color: #192232;
    }

    h4 {
        font-size: var(--text-fs-xl);
        font-weight: var(--text-bold);
        margin-bottom: $spacing-size-2;
        color: var(--color-brand-500);

        #{$selector-darkmode} & {
            color: var(--color-brand-200);
        }
    }

    p {
        flex-grow: 1;
        font-size: var(--text-fs-base);
        color: var(--color-text-primary);
        margin-bottom: $spacing-size-4;
    }

    :global(div[class*='content']) {
        border: none;
    }

    // Temporary solution to hide map example titles on homepage.
    // true solution is to modify examples to not include titles.
    $maps-title-offset: -54px;

    :global(.example-runner-outer) {
        margin-top: $spacing-size-2;
        margin-bottom: $maps-title-offset !important;
    }

    :global(div[class*='content']) {
        overflow: hidden;
    }

    :global(div[class*='content'] div[class*='container']) {
        position: relative;
        top: $maps-title-offset;
    }
}

.financialChartsFeaturesContainer {
    display: flex;
    flex-direction: column;
}

.learnMoreBtn {
    align-self: flex-start;
    padding: $spacing-size-2 $spacing-size-4;
    background-color: var(--color-brand-400);
    color: var(--color-bg-primary);
    border: none;
    border-radius: var(--radius-md);
    font-size: var(--text-fs-sm);
    font-weight: var(--text-bold);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--color-brand-500);
    }
}

.frameworkButtonsContainer {
    display: flex;
    gap: $spacing-size-8;
    margin: $spacing-size-8 0;
    justify-content: center;
}

.frameworkButton {
    background: transparent;
    border: none;
    box-shadow: none;
    &:hover {
        scale: 1.1;
        background: transparent;
    }
}

.frameworkLogo {
    width: 96px;
    height: 96px;
}

.enterpriseFeaturesContainer {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-size-8;
}

.enterpriseFeaturesSubtitle {
    font-size: var(--text-fs-xl);
    font-weight: var(--text-bold);
    margin-bottom: $spacing-size-2;
}

.enterpriseFeaturesDescription {
    font-size: var(--text-fs-lg);
    margin-bottom: $spacing-size-4;
    font-weight: var(--text-regular);
    color: var(--color-text-primary);
}

.latestNewsVersions {
    --versions-gap: #{$spacing-size-4};

    container-type: inline-size;
    display: flex;
    gap: var(--versions-gap);
    margin-top: $spacing-size-8;
    margin-bottom: $spacing-size-8;
    overflow-x: hidden;
}
