.ag-charts-shared-toolbar {
    gap: var(--toolbar-gap);

    .ag-charts-toolbar__button {
        border-radius: var(--ag-charts-border-radius);
        margin: 0;
    }

    .ag-charts-toolbar__button--active + .ag-charts-toolbar__button {
        border-left-color: var(--ag-charts-border-color);
    }
}
