.ag-charts-popover {
    --popover-layer: 0;

    position: absolute;
    border: var(--ag-charts-popover-border);
    border-radius: var(--ag-charts-popover-border-radius);
    background: var(--ag-charts-popover-background-color);
    color: var(--ag-charts-popover-foreground-color);
    font-family: var(--ag-charts-font-family);
    font-size: var(--ag-charts-popover-font-size);
    z-index: calc(var(--ag-charts-layer-ui-overlay) + var(--popover-layer));
}
