@use '../design-system' as *;

.homepageHero {
    --text-color: var(--white);

    padding-top: $size-5;
    background-color: var(--dark-blue-600);

    @media screen and (min-width: $breakpoint-hero-small) {
        padding-top: $size-7;
    }

    @media screen and (min-width: $breakpoint-hero-large) {
        padding-top: $size-8;
    }

    #{$darkmode-selector} & {
        background-color: #121f29;
    }
}

.heroInner {
    display: flex;
    flex-direction: column;
    gap: 0 $size-4;

    @media screen and (min-width: $breakpoint-hero-large) {
        flex-direction: row;
    }
}

.heroHeadings {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $breakpoint-hero-large) {
        text-align: unset;
    }

    h1,
    h2 {
        --line-height: var(--line-height-tight);

        color: var(--text-color);
    }

    h1 {
        --font-size: 28px;

        @media screen and (min-width: $breakpoint-hero-small) {
            --font-size: var(--font-size-massive);
        }

        @media screen and (min-width: $breakpoint-hero-large) {
            --font-size: min(3.4vw, 54px);

            margin-top: -0.225em;
            margin-bottom: 0.5em;
        }
    }

    h2 {
        max-width: 18em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.4em;

        @media screen and (min-width: $breakpoint-hero-small) {
            --font-size: 22px;
        }

        @media screen and (min-width: $breakpoint-hero-large) {
            --font-size: min(1.9vw, 30px);
            --font-weight: var(--font-weight-thin);

            max-width: unset;
        }
    }
}

.heroChart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: var(--ag-grid-dark-blue);
    border-radius: var(--border-radius);
    margin-bottom: $size-6;
    color: white;

    @media screen and (min-width: $breakpoint-hero-large) {
        aspect-ratio: 16/9;
        height: 416px;
    }
}

.homepageFrameworks {
    background-color: var(--bright-blue-gray);
    padding-top: $size-2;
    padding-bottom: $size-6;

    @media screen and (min-width: 640px) {
        padding-top: $size-6;
    }

    #{$darkmode-selector} & {
        background-color: #121f29;
    }
}

.frameworksInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $size-1;

    @media screen and (min-width: 640px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1020px) {
        gap: $size-2;
    }
}

.frameworksLabel {
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    @media screen and (min-width: 1020px) {
        --font-size: var(--font-size-extra-large);
        --font-weight: var(--font-weight-thin);
    }
}

.homepageSeries {
    padding-top: $size-7;
    padding-bottom: $size-9;
}

.seriesInner {
    display: flex;
    flex-wrap: wrap;

    h2 {
        width: 100%;
        margin-bottom: $size-6 !important;
        text-align: center;
        opacity: 0.6;
    }
}

.homepageBenefits {
    background-color: var(--background-200);
    padding-top: $size-7;
    padding-bottom: $size-8;

    #{$darkmode-selector} & {
        padding-top: $size-8;
        padding-bottom: $size-9;
        background-color: var(--default-background-color);
        border-top: 1px solid #394755;
        border-bottom: 1px solid #394755;
    }
}

.benefitsInner {
    ul {
        @media screen and (min-width: 820px) {
            display: flex;
            gap: $size-2;
        }
    }

    li {
        text-align: center;
        margin-bottom: $size-4 !important;

        @media screen and (min-width: 820px) {
            width: 33.33%;
            margin-bottom: 0 !important;
        }
    }

    :global(.icon) {
        --icon-size: #{$size-6};
        --text-color: var(--auro-metal);

        margin-bottom: $size-1;

        @media screen and (min-width: 820px) {
            --icon-size: #{$size-7};
        }
    }

    p {
        text-align: left;
    }
}

.homepageDevEx {
    padding-top: $size-9;
    padding-bottom: $size-7;

    #{$darkmode-selector} & {
        padding-bottom: $size-9;
        border-bottom: 1px solid #394755;
    }
}

.devExInner {
    display: flex;
    flex-wrap: wrap;
    gap: $size-4 0;

    @media screen and (min-width: 1400px) {
        gap: $size-4;
    }
}

.devExExample {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    overflow: hidden;

    @media screen and (min-width: 820px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1400px) {
        width: 66.66%;
    }

    .tmpImgOuter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 820px) {
            width: 50%;
        }
    }

    img {
        width: 90%;
    }

    :global(.code) {
        width: 100%;
        margin-bottom: 0;
        border: none !important;
        border-top: 1px solid var(--border-color) !important;
        border-radius: 0 !important;

        @media screen and (min-width: 820px) {
            width: max(50%, 540px);
            border-top: none !important;
            border-left: 1px solid var(--border-color) !important;
        }

        @media screen and (min-width: 1400px) {
            width: 540px;
        }
    }

    #{$darkmode-selector} & {
        border-color: 1px solid rgba(255, 255, 255, 0.1);

        :global(.code) {
            border-color: 1px solid rgba(255, 255, 255, 0.1) !important;
        }
    }
}

.devExCopy {
    width: 100%;
    text-align: center;

    @media screen and (min-width: 1400px) {
        width: 30%;
        text-align: left;
    }

    h3 {
        line-height: var(--line-height-tight);
    }
}

.homepageGrid {
    padding-top: $size-8;
    padding-bottom: $size-10;

    #{$darkmode-selector} & {
        padding-top: $size-9;
    }
}

.gridInner {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 920px) {
        flex-direction: row;
    }
}

.gridCopy {
    width: 100%;
    margin-bottom: $size-4;
    text-align: center;

    @media screen and (min-width: 920px) {
        width: 40%;
        margin-bottom: 0;
        padding-right: $size-4;
        text-align: left;
    }
}

.agGridLogo {
    width: 100%;
    margin-bottom: $size-2;
    margin-left: $size-2;

    @media screen and (min-width: 920px) {
        max-width: 320px;
        margin-bottom: $size-1;
        margin-left: -$size-1;
    }
}

[data-dark-mode='false'] .agGridLogo :global(.logotype) > * {
    fill: var(--dark-blue-800);
}

.gridExample {
    width: 100%;

    @media screen and (min-width: 920px) {
        width: 60%;
    }

    video {
        width: 100%;
        border-radius: 4px;
        box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.15);
    }
}
