.status-bar {
    display: grid;
    padding: 4px 8px;
    gap: 2px;
    justify-items: start;
}

.status-bar-row {
    display: grid;
    grid: auto / auto-flow auto minmax(9ch, auto);
    gap: 4px;
}

.label {
    font-weight: bold;
}
