.ag-charts-dialog {
    display: flex;
    flex-direction: column;
    font-size: var(--ag-charts-chrome-font-size-large);
}

/**************
 * Containers *
 **************/

.ag-charts-dialog__tabs {
    display: flex;
    flex-direction: column;
}

/* Header */
.ag-charts-dialog__header {
    border-bottom: 1px solid var(--ag-charts-border-color);
    display: flex;
}

.ag-charts-dialog__tab-list {
    display: flex;
    gap: calc(var(--ag-charts-spacing) * 2);
}

.ag-charts-dialog__drag-handle {
    align-items: center;
    color: inherit;
    cursor: grab;
    display: flex;
    padding: 1px 6px;
    text-align: center;
}

.ag-charts-dialog__drag-handle--dragging {
    cursor: grabbing;
}

.ag-charts-dialog__tab-button {
    background: none;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    color: var(--ag-charts-panel-subtle-text-color);
    margin-bottom: -1px;
    padding: var(--input-padding) calc(var(--input-padding) / 2);
}

.ag-charts-dialog__tab-button:hover {
    background: none;
}

.ag-charts-dialog__tab-button--active {
    border-color: var(--ag-charts-accent-color);
    color: inherit;
}

.ag-charts-dialog__drag-handle + .ag-charts-dialog__tab-button {
    margin-left: calc(var(--ag-charts-spacing) * -2);
}

.ag-charts-button.ag-charts-dialog__close-button {
    background: none;
    border: 0;
    margin-left: auto;
    padding: 1px 6px;
}

.ag-charts-dialog__close-button:focus-visible {
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: calc(var(--ag-charts-layer-ui-overlay) + 1);
}

/* Tab panel */
.ag-charts-dialog__tab-panel {
    display: none;
    flex-direction: column;
    gap: calc(var(--ag-charts-spacing) * 4);
    margin: 0 calc(var(--ag-charts-spacing) * 4);
    padding: calc(var(--ag-charts-spacing) * 4) 0;
}

.ag-charts-dialog__tab-panel--active {
    display: flex;
}

/**********
 * Inputs *
 **********/

/* Input group */
.ag-charts-dialog__input-group-line {
    display: flex;
    gap: 16px 18px;
    flex-wrap: wrap;
}

.ag-charts-dialog__input-group {
    align-items: center;
    display: flex;
    font-size: var(--ag-charts-chrome-font-size);
}

.ag-charts-dialog__input-group-label {
    color: var(--ag-charts-panel-subtle-text-color);
    margin-inline-end: 5px;
}

.ag-charts-dialog__input-group-label[for] {
    cursor: pointer;
}

/* Button */
.ag-charts-dialog__button {
    border-radius: 0;
    margin-inline-end: -1px;
}

.ag-charts-dialog__button.ag-charts-dialog__button--active {
    background: var(--ag-charts-button-focus-background-color);
    border-color: var(--ag-charts-input-focus-border-color);
    color: var(--ag-charts-input-focus-text-color);
    z-index: var(--input-layer-active);
}

.ag-charts-dialog__button:first-child,
.ag-charts-dialog__input-group-label + .ag-charts-dialog__button {
    border-start-start-radius: var(--ag-charts-input-border-radius);
    border-end-start-radius: var(--ag-charts-input-border-radius);
}

.ag-charts-dialog__button:last-child {
    border-start-end-radius: var(--ag-charts-input-border-radius);
    border-end-end-radius: var(--ag-charts-input-border-radius);
}

/* Color picker */
.ag-charts-dialog__color-picker-button {
    --color: #000;

    background: var(--color);
    border: none;
    color: transparent;
    height: 26px;
    width: 26px;
}

.ag-charts-dialog__color-picker-button:hover {
    background: var(--color);
}

.ag-charts-dialog__color-picker-button--multi-color,
.ag-charts-dialog__color-picker-button--multi-color:hover {
    background: linear-gradient(
        135deg,
        #f00 calc(100% * 0 / 6),
        #ff0 calc(100% * 1 / 6),
        #0f0 calc(100% * 2 / 6),
        #0ff calc(100% * 3 / 6),
        #00f calc(100% * 4 / 6),
        #f0f calc(100% * 5 / 6),
        #f00 calc(100% * 6 / 6)
    );
}
