.ag-charts-annotations__axis-button--hidden {
    display: none;
}

.ag-charts-annotations__axis-button {
    background-color: var(--ag-charts-crosshair-label-background-color);
    border-radius: calc(var(--ag-charts-border-radius) / 2);
    border: none;
    box-sizing: border-box;
    color: var(--ag-charts-crosshair-label-text-color);
    cursor: pointer;
    font-family: var(--ag-charts-chrome-font-family);
    font-size: var(--ag-charts-chrome-font-size);
    font-weight: var(--ag-charts-chrome-font-weight);
    left: 0px;
    line-height: 16px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0px;
    user-select: none;
    white-space: nowrap;
    z-index: var(--ag-charts-layer-annotations);
}

.ag-charts-annotations__axis-button:hover {
    opacity: 0.8;
    color: var(--ag-charts-background-color);
}
