.container {
    display: flex;
    height: 100vh; /* full viewport height */
}

.example-controls {
    flex: 0 0 auto;
    flex-direction: column;
    display: flex;
    padding: 10px;
    border-right: 1px solid #ccc;
    width: fit-content;
}

#myChart {
    flex: 1;
    padding: 10px;
}

.excel-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: fit-content;
}

.excel-table thead,
.excel-table tbody,
.excel-table tr {
    display: block;
}

.excel-table thead {
    background: #eee;
}

.excel-table tbody {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.excel-table th,
.excel-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    min-width: 80px;
    box-sizing: border-box;
    position: relative;
}
input[type='number'] {
    width: 80px;
}
