.container {
    display: flex;
    height: 100vh; /* full viewport height */
}

.example-controls {
    flex: 0 0 auto;
    overflow-y: auto;
    padding: 10px;
    border-right: 1px solid #ccc;
}

#myChart {
    flex: 1;
    padding: 10px;
}

.excel-table {
    border-collapse: collapse;
    width: fit-content;
}
.excel-table thead {
    background: #eee;
}

.excel-table th,
.excel-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    position: relative;
}
input[type='number'] {
    width: 80px;
}
