.ag-charts-toolbar {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    opacity: 1;
    position: absolute;
    transform: translateY(0);
    transition:
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}

.ag-charts-toolbar--hidden,
.ag-charts-toolbar--prevent-flash {
    visibility: hidden;
}

.ag-charts-toolbar--floating-hidden {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.ag-charts-toolbar--small {
    --ag-charts-toolbar-size: var(--ag-charts-toolbar-size-small);
    --ag-charts-toolbar-font-size: var(--ag-charts-toolbar-font-size-small);
    --ag-charts-toolbar-button-padding: var(--ag-charts-toolbar-button-padding-small);
}

/* Note: We also use the computed flex-direction to determine the aria-orientation. */
.ag-charts-toolbar--top,
.ag-charts-toolbar--bottom {
    flex-direction: row;
    width: 100%;
}

.ag-charts-toolbar--left,
.ag-charts-toolbar--right {
    flex-direction: column;
}

.ag-charts-toolbar--floating,
.ag-charts-toolbar--floating-top,
.ag-charts-toolbar--floating-bottom {
    background: none;
    border: none;
    flex-direction: row;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
}

.ag-charts-toolbar--floating {
    padding: 0;
    width: auto;
    /* Needs to beat .ag-crosshair-label */
    z-index: 99999;
}

.ag-charts-toolbar--floating-top {
    height: calc(var(--ag-charts-toolbar-size) + 10px);
    padding-top: 10px;
}

.ag-charts-toolbar--floating-bottom {
    height: calc(var(--ag-charts-toolbar-size) + 10px);
    padding-bottom: 10px;
}

.ag-charts-toolbar__align {
    display: flex;
    flex-direction: inherit;
    flex-wrap: inherit;
    gap: var(--ag-charts-toolbar-gap);
    max-width: 100%;
    width: 100%;
}

.ag-charts-toolbar__align--start {
    justify-content: start;
}

.ag-charts-toolbar__align--center {
    justify-content: center;
}

.ag-charts-toolbar__align--end {
    justify-content: end;
}

.ag-charts-toolbar__align--center,
.ag-charts-toolbar__align--end {
    margin-left: auto;
}

.ag-charts-toolbar--left .ag-charts-toolbar__align--center,
.ag-charts-toolbar--left .ag-charts-toolbar__align--end,
.ag-charts-toolbar--right .ag-charts-toolbar__align--center,
.ag-charts-toolbar--right .ag-charts-toolbar__align--end {
    margin-left: 0;
    margin-top: auto;
}

.ag-charts-toolbar--floating-top .ag-charts-toolbar__align,
.ag-charts-toolbar--floating-bottom .ag-charts-toolbar__align {
    transition: transform 0.4s ease-in-out;
    width: auto;
}

.ag-charts-toolbar__section {
    display: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    max-width: inherit;
    width: inherit;
}

.ag-charts-toolbar__button {
    align-items: center;
    background: var(--ag-charts-toolbar-background-color);
    border: var(--ag-charts-toolbar-border);
    border-left: 0;
    border-right: 0;
    color: var(--ag-charts-toolbar-foreground-color);
    display: flex;
    font-size: var(--ag-charts-toolbar-font-size);
    font-weight: 500;
    justify-content: center;
    margin: 0;
    min-height: var(--ag-charts-toolbar-size);
    min-width: var(--ag-charts-toolbar-size);
    padding: var(--ag-charts-toolbar-button-padding);
    pointer-events: all;
    transition: background-color 0.25s ease-in-out;
}

.ag-charts-toolbar__button:first-child {
    border-bottom-left-radius: var(--ag-charts-button-radius);
    border-left: var(--ag-charts-toolbar-border);
    border-top-left-radius: var(--ag-charts-button-radius);
}

.ag-charts-toolbar__button:last-child {
    border-bottom-right-radius: var(--ag-charts-button-radius);
    border-right: var(--ag-charts-toolbar-border);
    border-top-right-radius: var(--ag-charts-button-radius);
}

.ag-charts-toolbar--left .ag-charts-toolbar__button,
.ag-charts-toolbar--right .ag-charts-toolbar__button {
    border-bottom: 0;
    border-left: var(--ag-charts-toolbar-border);
    border-right: var(--ag-charts-toolbar-border);
    border-top: 0;
    border-radius: 0;
    max-width: 100%;
    overflow: hidden;
}

.ag-charts-toolbar--left .ag-charts-toolbar__button:first-child,
.ag-charts-toolbar--right .ag-charts-toolbar__button:first-child {
    border-top: var(--ag-charts-toolbar-border);
    border-top-left-radius: var(--ag-charts-button-radius);
    border-top-right-radius: var(--ag-charts-button-radius);
}

.ag-charts-toolbar--left .ag-charts-toolbar__button:last-child,
.ag-charts-toolbar--right .ag-charts-toolbar__button:last-child {
    border-bottom: var(--ag-charts-toolbar-border);
    border-bottom-left-radius: var(--ag-charts-button-radius);
    border-bottom-right-radius: var(--ag-charts-button-radius);
}

.ag-charts-toolbar__button--hidden-value,
.ag-charts-toolbar__button--hidden-toggled {
    display: none;
}

.ag-charts-toolbar__button:hover {
    background: var(--ag-charts-toolbar-hover-color);
}

.ag-charts-toolbar .ag-charts-toolbar__button:focus-visible {
    border-color: var(--ag-charts-toolbar-focus-color);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: 1;
}

.ag-charts-toolbar__button.ag-charts-toolbar__button--active {
    background: var(--ag-charts-toolbar-active-color);
}

.ag-charts-toolbar__button[aria-disabled='true'] {
    background: var(--ag-charts-toolbar-disabled-background-color);
    color: var(--ag-charts-toolbar-disabled-foreground-color);
}

.ag-charts-toolbar__button:not([aria-disabled='true']) {
    cursor: pointer;
}

.ag-charts-toolbar__icon {
    height: 1.2em;
    width: 1.2em;
}

.ag-charts-toolbar__icon + .ag-charts-toolbar__label {
    margin-left: var(--ag-charts-toolbar-gap);
}

.ag-charts-toolbar__icon,
.ag-charts-toolbar__label {
    pointer-events: none;
}
