@use '../core' as *;

// General style guide
// ===============================================
.styleGuide {
    padding-top: 6rem;
    padding-bottom: 24rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 3em;
        margin-bottom: $spacing-size-2;
    }
}

// Color
// ===============================================
.swatch {
    width: 12rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    overflow: hidden;
}

.swatchTop {
    height: 4rem;
}

.swatchBottom {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.25rem;
}

// Text
// ===============================================
.textList {
    display: flex;
    gap: 2rem;
}

.textItem {
    margin-bottom: 1rem;
}

.textExample {
    max-width: 440px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Buttons
// ===============================================
.buttonExamples {
    display: flex;
    gap: $spacing-size-8;
    align-items: center;
    margin-bottom: $spacing-size-8;

    label {
        text-align: right;
        min-width: 80px;
    }
}
