@use '../../../design-system' as *;

.container {
    --jsObjectWidth: min(420px, 33vw);

    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (min-width: $breakpoint-options-medium) {
        flex-direction: row;
        padding-left: 0;
        padding-right: max(var(--horizontal-margin), 50vw - var(--max-page-width) / 2);
    }
}

.objectViewOuter {
    --right-margin: max(#{$spacing-size-12}, calc(50vw - var(--max-page-width) / 2 - var(--jsObjectWidth)));

    width: 100%;
    min-width: var(--jsObjectWidth);
    margin-right: var(--right-margin);

    @media screen and (min-width: $breakpoint-options-medium) {
        width: auto;
        border-right: 1px solid var(--color-border-primary);
    }
}

.referenceOuter {
    width: 100%;
    margin-bottom: 105px;
    padding-left: var(--horizontal-margin);
    padding-right: var(--horizontal-margin);

    @media screen and (min-width: $breakpoint-options-medium) {
        padding: 0;
    }

    header {
        --parent-properties-color: var(--text-color);
        --parent-properties-font-weight: var(--text-bold);

        position: sticky;
        top: 0;
        z-index: 1;
        padding-top: $spacing-size-8;
        padding-bottom: $spacing-size-8;
        background-color: var(--color-bg-primary);
        border-bottom: 1px solid var(--color-border-primary);

        @media screen and (min-width: $breakpoint-docs-nav-medium) {
            top: calc(var(--header-nav-height) * 2 + 4px);

            #{$selector-darkmode} & {
                top: calc(var(--header-nav-height) * 2 + 6px);
                box-shadow: 0 -2px 0 0 var(--color-bg-primary);
            }
        }
    }

    tr:first-child {
        border-top: none;
    }
}

.unionDiscriminator {
    color: var(--color-fg-code);
}
