@use '../../../design-system' as *;

.container {
    display: flex;
    width: 100%;
    gap: $size-6;
    padding-right: max(var(--horizontal-margin), 50vw - var(--max-page-width) / 2);
}

.objectViewOuter {
    border-right: 1px solid var(--border-color);
}

.referenceOuter {
    width: 100%;
    margin-bottom: $size-9;

    header {
        margin-top: $size-4;
        margin-bottom: $size-4;
    }
}
