@use '../../../design-system' as *;

.container {
    --jsObjectWidth: 420px;

    display: flex;
    width: 100%;
    padding-right: max(var(--horizontal-margin), 50vw - var(--max-page-width) / 2);
}

.objectViewOuter {
    --right-margin: max(#{$size-6}, calc(50vw - var(--max-page-width) / 2 - var(--jsObjectWidth)));

    border-right: 1px solid var(--border-color);
    min-width: var(--jsObjectWidth);
    margin-right: var(--right-margin);
}

$header-nav-height: 56px;
$header-nav-border: 1px;
$header-top: $header-nav-height + $header-nav-border;

.referenceOuter {
    width: 100%;
    margin-bottom: $size-9;

    header {
        padding-top: $size-4;
        padding-bottom: $size-4;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--white);
        border-bottom: 1px solid var(--border-color);

        @media screen and (min-width: $breakpoint-docs-nav-medium) {
            top: $header-top;
        }
    }

    tr:first-child {
        border-top: none;
    }
}
