@use '../../../design-system/' as *;

$indent: 24px;

// Ignore padding & remove border if within tabbed container
:global(.tabs-outer) .expandableSnippet pre:global(.code) {
    margin: -$size-2;
    border: none;
}

.navContainer {
    user-select: none;
}

.navGroup {
    > * {
        padding: 0 16px 0 calc(16px + $indent * var(--options-nav-depth, 0));
    }
}

.highlight {
    --highlight-color: var(--primary-600);
    --highlight-opacity: 0.15;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--highlight-color);
        opacity: var(--highlight-opacity);
        pointer-events: none;
    }

    #{$darkmode-selector} & {
        --highlight-color: var(--property-color);
        --highlight-opacity: 0.16;
    }
}

.topBreadcrumb {
    color: var(--property-color);
    cursor: pointer;
}

.expandableSnippet {
    --sticky-offset: 56px; // top bar height
}

.expandableSnippet header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: $size-2;
    background-color: var(--default-background-color);
    z-index: 3;
    border-bottom: 1px solid var(--neutral-200);

    h3 {
        margin-bottom: 0;
    }

    p {
        line-height: var(--line-height-tight);
    }
}

.searchOuter {
    position: relative;
    display: flex;
    align-items: center;
}

input[type='search'].searchInput {
    padding-left: 2em;
}

.searchIcon {
    --icon-size: 1.25em;
    --text-color: var(--secondary-text-color);

    position: absolute;
    left: 0.625em;
}

.expandableSnippet input[type='search'] {
    width: 100%;
}

.expandableSnippet {
    position: sticky;
    top: var(--sticky-offset);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--sticky-offset));
    overflow-y: auto;

    > pre {
        flex: 1 0 auto;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        overflow-y: hidden;

        > code {
            --code-line-height: 1.75;

            min-height: 100%;
            padding: 8px 0 105px;
            line-height: var(--code-line-height);
            background-size: 1px calc(1em * var(--code-line-height) * 2);
        }
    }
}

.expander {
    --icon-size: 1em;

    transition: transform $default-transition-timing;

    &.active {
        transform: rotate(90deg);
    }
}

.propertyName {
    position: relative;
    color: var(--property-color);
    cursor: pointer;

    .expander {
        position: absolute;
        top: 0;
        right: 100%;
        padding: 3px 3px 1px 0;
        box-sizing: content-box;
    }

    .punctuation {
        color: var(--punctuation-color);
    }
}

.searchDropdown {
    position: absolute;
    inset: calc(100% - 1px) 0 auto;
    max-height: 168px;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
    background-color: var(--default-background-color);
    overflow: auto;
}

.searchOptions {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    white-space: nowrap;
}

.searchOption {
    padding: 2px 4px;
    cursor: pointer;

    &.selected {
        background-color: var(--bright-blue-gray);
    }
}
