@use '../../../design-system' as *;

.toolPanel {
    text-align: center;
    font-size: $font-size-extra-small;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
