@use '../../../design-system' as *;

.link {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: 0 0 4px var(--border-color);
    transition: border-color $default-transition-timing;

    &:hover {
        box-shadow: 0 0 4px var(--link-hover-color);
    }

    img {
        width: 100%;
        padding: $size-3;
    }

    span {
        display: block;
        flex-grow: 1;
        padding: $size-1 $size-2;
        line-height: var(--line-height-tight);
        border-top: 1px solid var(--bright-blue-gray);
        transition: color $default-transition-timing;
    }
}
