@use '../../../design-system' as *;

.link {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 1px solid var(--bright-blue-gray);
    background-color: var(--white);

    &::after {
        $border-width: 2px;

        content: '';
        position: absolute;
        top: $border-width * -1;
        right: $border-width * -1;
        bottom: $border-width * -1;
        left: $border-width * -1;
        border-radius: calc(var(--border-radius) + 1px);
        border: $border-width solid var(--link-hover-color);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    &:hover::after {
        opacity: 1;
    }

    img {
        width: 100%;
        padding: $size-3;
    }

    span {
        display: block;
        flex-grow: 1;
        padding: $size-1 $size-2;
        font-size: 12px;
        line-height: var(--line-height-tight);
        border-top: 1px solid var(--bright-blue-gray);
    }
}
