@use 'sass:math';
@use 'utils' as *;

// Layout constants
// ================
$max-page-width: 1400px;
$horizontal-margin: 6vw;
$site-header-height: 64px;

// Typographic constants
// =====================

$icon-size: 2em;
