@use 'sass:math';
@use 'utils' as *;

// Layout constants
// ================
$max-page-width: 1400px;
$horizontal-margin: 6vw;
$site-header-height: 64px;

// Typographic constants
// =====================

$line-height-normal: 1.5;
$line-height-tight: 1.25;
$line-height-ultra-tight: 1;

$icon-size: 2em;
