@use 'sass:math';
@use 'utils' as *;

// Layout constants
// ================
$max-page-width: 1400px;
$horizontal-margin: 6vw;
$site-header-height: 64px;

// Typographic constants
// =====================

$font-size-extra-small: px-to-rem(12); // convert px values to rems
$font-size-small: px-to-rem(14); // convert px values to rems
$font-size-medium: px-to-rem(16); // convert px values to rems
$font-size-large: px-to-rem(20); // convert px values to rems
$font-size-extra-large: px-to-rem(24); // convert px values to rems
$font-size-massive: px-to-rem(30); // convert px values to rems
$font-size-gigantic: px-to-rem(40); // convert px values to rems
$font-size-gargantuan: px-to-rem(50); // convert px values to rems

$line-height-normal: 1.5;
$line-height-tight: 1.25;
$line-height-ultra-tight: 1;

$icon-size: 2em;
