// // Darkmode selector. To be used as an interpolated Sass parent selector
// // #{$darkmode-selector} & {
// //     [DARKMODE STYLES]
// // }
$darkmode-selector: "[data-dark-mode='true']";

$spacing-size-1: 4px;
$spacing-size-2: 8px;
$spacing-size-3: 12px;
$spacing-size-4: 16px;
$spacing-size-5: 20px;
$spacing-size-6: 24px;
$spacing-size-8: 32px;
$spacing-size-10: 40px;
$spacing-size-12: 48px;
$spacing-size-16: 64px;
$spacing-size-20: 80px;
$spacing-size-24: 96px;
$spacing-size-32: 128px;
$spacing-size-40: 160px;
$spacing-size-48: 192px;
$spacing-size-56: 224px;
$spacing-size-64: 256px;

:root {
    --text-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --text-regular: 400;
    --text-semibold: 600;
    --text-bold: 700;

    --text-2xs: 10px/1.2 var(--text-font-family);
    --text-xs: 12px/1.6666 var(--text-font-family);
    --text-sm: 14px/1.4 var(--text-font-family);
    --text-base: 16px/1.4 var(--text-font-family);
    --text-lg: 20px/1.2 var(--text-font-family);
    --text-xl: 24px/1.2 var(--text-font-family);
    --text-2xl: 32px/1.2 var(--text-font-family);
    --text-3xl: 40px/1.1 var(--text-font-family);

    --color-white: #fff;
    --color-black: #000;

    --color-gray-25: #fcfcfd;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f2f4f7;
    --color-gray-200: #eaecf0;
    --color-gray-300: #d0d5dd;
    --color-gray-400: #98a2b3;
    --color-gray-500: #667085;
    --color-gray-600: #475467;
    --color-gray-700: #344054;
    --color-gray-800: #182230;
    --color-gray-900: #101828;
    --color-gray-950: #0c111d;

    --color-brand-25: #fafcff;
    --color-brand-50: #f4f8ff;
    --color-brand-100: #e5effd;
    --color-brand-200: #d4e3f8;
    --color-brand-300: #a9c5ec;
    --color-brand-400: #3d7acd;
    --color-brand-500: #004cb3;
    --color-brand-600: #0042a1;
    --color-brand-700: #00388f;
    --color-brand-800: #002e7e;
    --color-brand-900: #00246c;
    --color-brand-950: #001a5a;

    // Background colors
    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-gray-200);
    --color-bg-brand-solid: var(--color-brand-500);
    --color-bg-disabled_subtle: var(--color-gray-50);

    // Foreground colors
    --color-fg-primary: var(--color-gray-900);
    --color-fg-secondary: var(--color-gray-700);
    --color-fg-tertiary: var(--color-gray-600);
    --color-fg-quinary: var(--color-gray-400);
    --color-fg-disabled: var(--color-gray-400);
    --color-fg-placeholder: var(--color-gray-500);
    --color-fg-white: var(--color-white);

    // Border colors
    --color-border-primary: var(--color-gray-300);
    --color-border-secondary: var(--color-gray-200);
    --color-border-tertiary: var(--color-gray-100);
    --color-border-disabled_subtle: var(--color-gray-200);

    // Button colors
    --color-button-primary-bg: var(--color-brand-500);
    --color-button-primary-bg-hover: var(--color-brand-700);
    --color-button-primary-bg-active: var(--color-brand-800);
    --color-button-primary-shadow-focus: var(--color-brand-200);
    --color-button-primary-fg: var(--color-fg-white);
    --color-button-primary-border: transparent;

    --color-button-secondary-bg: var(--color-bg-primary);
    --color-button-secondary-bg-hover: var(--color-bg-secondary);
    --color-button-secondary-bg-active: var(--color-gray-300);
    --color-button-secondary-shadow-focus: var(--color-gray-200);
    --color-button-secondary-fg: var(--color-fg-secondary);
    --color-button-secondary-border: var(--color-border-primary);

    --color-button-tertiary-bg: var(--color-bg-primary);
    --color-button-tertiary-bg-hover: var(--color-brand-50);
    --color-button-tertiary-bg-active: var(--color-brand-100);
    --color-button-tertiary-shadow-focus: var(--color-brand-100);
    --color-button-tertiary-fg: var(--color-brand-500);
    --color-button-tertiary-border: var(--color-brand-300);

    --color-button-disabled-bg: var(--color-gray-100);
    --color-button-disabled-fg: var(--color-gray-400);
    --color-button-disabled-border: var(--color-gray-200);

    // Input colors
    --color-input-border: var(--color-border-primary);
    --color-input-border-hover: var(--color-brand-300);
    --color-input-shadow-focus: var(--color-brand-200);

    --color-input-disabled-bg: var(--color-bg-disabled_subtle);
    --color-input-disabled-fg: var(--color-fg-disabled);

    // Shadows
    --color-shadow: color-mix(in srgb, var(--color-gray-950) 05%, transparent);

    --shadow-xs: 0 1px 2px 0 color-mix(in srgb, var(--color-gray-950) 05%, transparent);
    --shadow-sm: 0 1px 3px 0 color-mix(in srgb, var(--color-gray-950) 10%, transparent),
        0 1px 2px -1px color-mix(in srgb, var(--color-gray-950) 10%, transparent);
    --shadow-md: 0 4px 6px -1px color-mix(in srgb, var(--color-gray-950) 10%, transparent),
        0 2px 4px -2px color-mix(in srgb, var(--color-gray-950) 10%, transparent);
    --shadow-lg: 0 10px 15px -3px color-mix(in srgb, var(--color-gray-950) 10%, transparent),
        0 4px 6px -4px color-mix(in srgb, var(--color-gray-950) 10%, transparent);
    --shadow-xl: 0 20px 25px -5px color-mix(in srgb, var(--color-gray-950) 10%, transparent),
        0 8px 10px -6px color-mix(in srgb, var(--color-gray-950) 10%, transparent);
    --shadow-2xl: 0 25px 50px -12px color-mix(in srgb, var(--color-gray-950) 25%, transparent);
}

html[data-dark-mode='true'] {
    // Background colors
    --color-bg-primary: var(--color-gray-900);
    --color-bg-secondary: var(--color-gray-800);
    --color-bg-brand-solid: var(--color-brand-500);
    --color-bg-disabled_subtle: var(--color-gray-800);

    // Foreground colors
    --color-fg-primary: var(--color-white);
    --color-fg-secondary: var(--color-gray-300);
    --color-fg-tertiary: var(--color-gray-400);
    --color-fg-quinary: var(--color-gray-500);
    --color-fg-disabled: var(--color-gray-500);
    --color-fg-white: var(--color-white);

    // Border colors
    --color-border-primary: var(--color-gray-700);
    --color-border-secondary: var(--color-gray-800);
    --color-border-tertiary: var(--color-gray-800);
    --color-border-disabled_subtle: var(--color-gray-800);

    // Button colors
    --color-button-primary-bg-hover: var(--color-brand-600);
    --color-button-primary-bg-active: var(--color-brand-700);
    --color-button-primary-shadow-focus: var(--color-brand-900);

    --color-button-secondary-bg-hover: var(--color-gray-700);
    --color-button-secondary-bg-active: var(--color-gray-600);
    --color-button-secondary-shadow-focus: var(--color-gray-800);

    --color-button-tertiary-bg-hover: var(--color-gray-700);
    --color-button-tertiary-bg-active: var(--color-gray-600);
    --color-button-tertiary-shadow-focus: var(--color-gray-700);
    --color-button-tertiary-fg: var(--color-brand-300);

    --color-button-disabled-bg: var(--color-gray-800);
    --color-button-disabled-fg: var(--color-gray-500);
    --color-button-disabled-border: var(--color-gray-700);

    // Input colors
    --color-input-shadow-focus: var(--color-gray-700);
}
