:root {
    --text-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-white: #fff;
    --color-black: #000;

    --color-gray-25: #fcfcfd;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f2f4f7;
    --color-gray-200: #eaecf0;
    --color-gray-300: #d0d5dd;
    --color-gray-400: #98a2b3;
    --color-gray-500: #667085;
    --color-gray-600: #475467;
    --color-gray-700: #344054;
    --color-gray-800: #182230;
    --color-gray-900: #101828;
    --color-gray-950: #0c111d;

    --color-brand-25: #fafcff;
    --color-brand-50: #f4f8ff;
    --color-brand-100: #e5effd;
    --color-brand-200: #d4e3f8;
    --color-brand-300: #a9c5ec;
    --color-brand-400: #3d7acd;
    --color-brand-500: #004cb3;
    --color-brand-600: #0042a1;
    --color-brand-700: #00388f;
    --color-brand-800: #002e7e;
    --color-brand-900: #00246c;
    --color-brand-950: #001a5a;

    --text-regular: 400;
    --text-semibold: 600;
    --text-bold: 700;

    --text-2xs: var(--text-regular) 10px/1.2 var(--text-font-family);
    --text-xs: var(--text-regular) 12px/1.6666 var(--text-font-family);
    --text-sm: var(--text-regular) 14px/1.4 var(--text-font-family);
    --text-base: var(--text-regular) 16px/1.4 var(--text-font-family);
    --text-lg: var(--text-regular) 20px/1.2 var(--text-font-family);
    --text-xl: var(--text-regular) 24px/1.2 var(--text-font-family);
    --text-2xl: var(--text-regular) 32px/1.2 var(--text-font-family);
    --text-3xl: var(--text-regular) 40px/1.1 var(--text-font-family);

    --text-2xs-semibold: var(--text-semibold) 10px/1.2 var(--text-font-family);
    --text-xs-semibold: var(--text-semibold) 12px/1.6666 var(--text-font-family);
    --text-sm-semibold: var(--text-semibold) 14px/1.4 var(--text-font-family);
    --text-base-semibold: var(--text-semibold) 16px/1.4 var(--text-font-family);
    --text-lg-semibold: var(--text-semibold) 20px/1.2 var(--text-font-family);
    --text-xl-semibold: var(--text-semibold) 24px/1.2 var(--text-font-family);
    --text-2xl-semibold: var(--text-semibold) 32px/1.2 var(--text-font-family);
    --text-3xl-semibold: var(--text-semibold) 40px/1.1 var(--text-font-family);

    --text-2xs-bold: var(--text-bold) 10px/1.2 var(--text-font-family);
    --text-xs-bold: var(--text-bold) 12px/1.6666 var(--text-font-family);
    --text-sm-bold: var(--text-bold) 14px/1.4 var(--text-font-family);
    --text-base-bold: var(--text-bold) 16px/1.4 var(--text-font-family);
    --text-lg-bold: var(--text-bold) 20px/1.2 var(--text-font-family);
    --text-xl-bold: var(--text-bold) 24px/1.2 var(--text-font-family);
    --text-2xl-bold: var(--text-bold) 32px/1.2 var(--text-font-family);
    --text-3xl-bold: var(--text-bold) 40px/1.1 var(--text-font-family);
}
