:root {
    --color-white: #fff;
    --color-black: #000;

    --color-gray-25: #fcfcfd;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f2f4f7;
    --color-gray-200: #eaecf0;
    --color-gray-300: #d0d5dd;
    --color-gray-400: #98a2b3;
    --color-gray-500: #667085;
    --color-gray-600: #475467;
    --color-gray-700: #344054;
    --color-gray-800: #182230;
    --color-gray-900: #101828;
    --color-gray-950: #0c111d;

    --color-brand-25: #fafcff;
    --color-brand-50: #f4f8ff;
    --color-brand-100: #e5effd;
    --color-brand-200: #d4e3f8;
    --color-brand-300: #a9c5ec;
    --color-brand-400: #3d7acd;
    --color-brand-500: #004cb3;
    --color-brand-600: #0042a1;
    --color-brand-700: #00388f;
    --color-brand-800: #002e7e;
    --color-brand-900: #00246c;
    --color-brand-950: #001a5a;
}

$color-white: var(--color-white);
$color-black: var(--color-black);

$color-gray-25: var(--color-gray-25);
$color-gray-50: var(--color-gray-50);
$color-gray-100: var(--color-gray-100);
$color-gray-200: var(--color-gray-200);
$color-gray-300: var(--color-gray-300);
$color-gray-400: var(--color-gray-400);
$color-gray-500: var(--color-gray-500);
$color-gray-600: var(--color-gray-600);
$color-gray-700: var(--color-gray-700);
$color-gray-800: var(--color-gray-800);
$color-gray-900: var(--color-gray-900);
$color-gray-950: var(--color-gray-950);

$color-brand-25: var(--color-brand-25);
$color-brand-50: var(--color-brand-50);
$color-brand-100: var(--color-brand-100);
$color-brand-200: var(--color-brand-200);
$color-brand-300: var(--color-brand-300);
$color-brand-400: var(--color-brand-400);
$color-brand-500: var(--color-brand-500);
$color-brand-600: var(--color-brand-600);
$color-brand-700: var(--color-brand-700);
$color-brand-800: var(--color-brand-800);
$color-brand-900: var(--color-brand-900);
$color-brand-950: var(--color-brand-950);
