@use 'design-system' as *;

.mapChartsGrid {
    display: flex;
    justify-content: space-between;
    gap: $spacing-size-4;
    margin: $spacing-size-8 0;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-landing-page-medium) {
        flex-direction: column;
    }

    // Hide example borders for maps examples
    div:has(> iframe) {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 10px solid var(--color-bg-primary);
            pointer-events: none;

            #{$selector-darkmode} & {
                border-color: #192232;
            }
        }
    }
}

.mapChartsCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-util-gray-200);
    border-radius: var(--radius-lg);
    padding: $spacing-size-4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    #{$selector-darkmode} & {
        border-color: var(--color-util-gray-300);
        background-color: #192232;
    }

    h4 {
        font-size: var(--text-fs-xl);
        font-weight: var(--text-bold);
        margin-bottom: $spacing-size-2;
        color: var(--color-brand-500);

        #{$selector-darkmode} & {
            color: var(--color-brand-200);
        }
    }

    p {
        flex-grow: 1;
        font-size: var(--text-fs-base);
        color: var(--color-text-primary);
        margin-bottom: $spacing-size-4;
    }

    :global(div[class*='content']) {
        border: none;
    }

    // Temporary solution to hide map example titles on homepage.
    // true solution is to modify examples to not include titles.
    $maps-title-offset: -58px;

    :global(.example-runner-outer) {
        margin-top: $spacing-size-2;
        margin-bottom: $maps-title-offset !important;
    }

    :global(div[class*='content']) {
        overflow: hidden;
    }

    :global(div[class*='content'] div[class*='container']) {
        position: relative;
        top: $maps-title-offset;
    }
}
