.ag-charts-text-input {
    position: absolute;
}

.ag-charts-text-input__textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
    background: none;
    line-height: 1.38;
}
