.ag-chart-tooltip {
    width: max-content;
    font:
        12px Verdana,
        sans-serif;
    color: rgb(70, 70, 70);
    border-radius: var(--ag-charts-tooltip-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    /* Background isn't visible, but helps performance of box-shadow */
    background: var(--ag-charts-background-color);

    /* Resets when using popover attribute */
    position: fixed;
    inset: unset;
    margin: 0;
    border: none;
    padding: 0;
    overflow: visible;
}

.ag-chart-tooltip-compact {
    --ag-charts-tooltip-title-padding: var(--ag-charts-tooltip-compact-title-padding);
    --ag-charts-tooltip-content-padding: var(--ag-charts-tooltip-compact-content-padding);
}

.ag-chart-tooltip-wrap-always {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: none;
}

.ag-chart-tooltip-wrap-hyphenate {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.ag-chart-tooltip-wrap-on-space {
    overflow-wrap: normal;
    word-break: normal;
}

.ag-chart-tooltip-wrap-never {
    white-space: pre;
    text-overflow: ellipsis;
}

.ag-chart-tooltip-no-interaction {
    pointer-events: none;
    user-select: none;
}

.ag-chart-tooltip-title {
    overflow: hidden;
    position: relative;
    padding: var(--ag-charts-tooltip-title-padding);
    border-top-left-radius: var(--ag-charts-tooltip-border-radius);
    border-top-right-radius: var(--ag-charts-tooltip-border-radius);
    color: white;
    background-color: #888888;
    z-index: 1;
    text-overflow: inherit;
}

.ag-chart-tooltip-title:only-child {
    border-bottom-left-radius: var(--ag-charts-tooltip-border-radius);
    border-bottom-right-radius: var(--ag-charts-tooltip-border-radius);
}

.ag-chart-tooltip-content {
    overflow: hidden;
    padding: var(--ag-charts-tooltip-content-padding);
    line-height: 1.7em;
    background: white;
    border-bottom-left-radius: var(--ag-charts-tooltip-border-radius);
    border-bottom-right-radius: var(--ag-charts-tooltip-border-radius);
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-overflow: inherit;
}

.ag-chart-tooltip-content:only-child {
    border-top-left-radius: var(--ag-charts-tooltip-border-radius);
    border-top-right-radius: var(--ag-charts-tooltip-border-radius);
}

.ag-chart-tooltip-arrow::before {
    content: '';

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid #d9d9d9;

    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

    width: 0;
    height: 0;

    margin: 0 auto;
}

.ag-chart-tooltip-arrow::after {
    content: '';

    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid white;

    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

    width: 0;
    height: 0;

    margin: 0 auto;
}
