.ag-charts-tooltip {
    /* Popover attribute resets */
    position: fixed;
    inset: unset;
    margin: 0;
    padding: 0;
    overflow: visible;

    width: max-content;
    font:
        12px Verdana,
        sans-serif;
    color: var(--ag-charts-tooltip-foreground-color);
    background: var(--ag-charts-tooltip-background-color);
    border: var(--ag-charts-tooltip-border);
    border-radius: var(--ag-charts-tooltip-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.ag-charts-tooltip--compact {
    --ag-charts-content-padding: var(--ag-charts-content-compact-padding);
}

.ag-charts-tooltip--arrow::before {
    --tooltip-arrow-size: 8px;

    content: '';

    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%) translateY(calc(var(--tooltip-arrow-size) * -0.5)) rotate(45deg);

    display: block;
    width: var(--tooltip-arrow-size);
    height: var(--tooltip-arrow-size);

    border: inherit;
    background: inherit;
    border-top: none;
    border-left: none;

    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.ag-charts-tooltip--no-interaction {
    pointer-events: none;
    user-select: none;
}

.ag-charts-tooltip--wrap-always {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: none;
}

.ag-charts-tooltip--wrap-hyphenate {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.ag-charts-tooltip--wrap-on-space {
    overflow-wrap: normal;
    word-break: normal;
}

.ag-charts-tooltip--wrap-never {
    white-space: pre;
    text-overflow: ellipsis;
}

.ag-charts-tooltip-content {
    display: grid;
    grid: auto-flow minmax(1em, auto) / 1fr;
    padding: var(--ag-charts-content-padding);
    gap: 8px;
}

.ag-charts-tooltip-content:has(.ag-charts-tooltip-symbol) {
    grid: auto-flow minmax(1em, auto) / auto 1fr;
}

.ag-charts-tooltip-heading {
    grid-column: 1 / -1;
}

.ag-charts-tooltip-symbol {
    grid-column: 1 / 2;
    align-self: center;
}

.ag-charts-tooltip-title {
    grid-column: -2 / -1;
}

.ag-charts-tooltip-row {
    grid-column: 1 / -1;
    display: flex;
    gap: 16px;
    align-items: baseline;
    justify-content: space-between;
}

.ag-charts-tooltip-row--inline {
    grid-column: -2 / -1;
}

.ag-charts-tooltip-symbol svg {
    /* Fixes vertical alignment */
    display: block;
}
