.ag-chart-tooltip {
    transition: transform 0.1s ease;
    max-width: 100%;
    z-index: 99999;
    font:
        12px Verdana,
        sans-serif;
    color: rgb(70, 70, 70);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.ag-chart-tooltip-wrap-always {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: none;
}

.ag-chart-tooltip-wrap-hyphenate {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.ag-chart-tooltip-wrap-on-space {
    overflow-wrap: normal;
    word-break: normal;
}

.ag-chart-tooltip-wrap-never {
    white-space: pre;
    text-overflow: ellipsis;
}

.ag-chart-tooltip-no-interaction {
    pointer-events: none;
    user-select: none;
}

.ag-chart-tooltip-no-animation {
    transition: none !important;
}

.ag-chart-tooltip-hidden {
    visibility: hidden;
}

.ag-chart-tooltip-title {
    overflow: hidden;
    position: relative;
    padding: 8px 14px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: white;
    background-color: #888888;
    z-index: 1;
    text-overflow: inherit;
}

.ag-chart-tooltip-title:only-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ag-chart-tooltip-content {
    overflow: hidden;
    padding: 6px 14px;
    line-height: 1.7em;
    background: white;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-overflow: inherit;
}

.ag-chart-tooltip-arrow::before {
    content: '';

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid #d9d9d9;

    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

    width: 0;
    height: 0;

    margin: 0 auto;
}

.ag-chart-tooltip-arrow::after {
    content: '';

    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid white;

    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;

    width: 0;
    height: 0;

    margin: 0 auto;
}
