.ag-charts-menu {
    display: grid;
    grid: auto-flow auto / 1fr;
    column-gap: 12px;
    min-width: 200px;
    font: var(--ag-charts-popover-font-size-small) var(--ag-charts-font-family);

    --item-padding: 6px 12px;
}

.ag-charts-menu:has(.ag-charts-menu__icon) {
    grid: auto-flow auto / auto 1fr;
}

.ag-charts-menu__row {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    padding: var(--item-padding);
}

.ag-charts-menu__row:not(.ag-charts-menu__row--active) {
    cursor: pointer;
}

.ag-charts-menu__row:focus {
    background: var(--ag-charts-popover-hover-color);
}

.ag-charts-menu__row--active {
    background: var(--ag-charts-popover-active-background-color);
    color: var(--ag-charts-popover-active-color);
}

.ag-charts-menu__label {
    grid-column: -1 / span 1;
}
