@use '../../design-system/' as *;

.alert {
    --icon-size: 1.5rem;

    display: flex;
    gap: $spacing-size-4;
    align-items: center;
    padding: $spacing-size-4;
    background-color: var(--alert-background-color);
    border-radius: 8px;
    color: var(--text-color);

    margin-top: $spacing-size-10 !important;
    margin-bottom: $spacing-size-10;

    :global(.icon) {
        align-self: flex-start;
        position: relative;
        flex-shrink: 0;
        fill: var(--color-util-brand-700);
    }

    p :last-child {
        margin-bottom: 0;
    }

    kbd {
        margin: 0;
        padding-top: 0.075em;
        padding-bottom: 0.25em;
    }

    #{$selector-darkmode} & {
        --alert-background-color: #121f29;

        color: #c3cad3;

        border: 1px solid rgb(255, 255, 255, 0.15);

        :global(.icon) {
            opacity: 0.6;
        }

        a {
            -webkit-font-smoothing: subpixel-antialiased;
        }
    }
}

.alert.info {
    --text-color: var(--dark-blue-300);

    #{$selector-darkmode} & {
        --text-color: var(--color-fg-primary);

        :global(.icon) {
            --text-color: var(--color-fg-primary);
        }
    }
}

.alert.idea {
    :global(.icon) {
        --text-color: var(--orange-800);
    }

    #{$selector-darkmode} & :global(.icon) {
        --text-color: #ffd000;
    }
}

.alert.warning {
    background-color: var(--color-util-warning-50);
    border: 1px solid var(--color-util-warning-100);
    color: var(--color-util-warning-700);
    display: flex;
    border: 1px solid rgba(209, 142, 0, 0.3);

    :global(.icon) {
        --text-color: #f4c000;
    }

    #{$selector-darkmode} & {
        --alert-background-color: #262119;
        --text-color: var(--color-fg-primary);

        p {
            color: rgb(255, 249, 235);
        }
    }
}
