@use '../../design-system/' as *;

:global(.docs-header-icon) {
    position: relative;
    padding-left: 0;
    margin-left: $size-1;
    font-size: inherit;
    opacity: 0;
    transition: opacity 0.33s ease-in-out;

    &:hover {
        opacity: 1;
    }

    svg {
        position: relative;
        top: -0.1em;
        width: 0.85em;
        height: 0.85em;
        visibility: visible;
        fill: var(--azure-blue);
    }
}
