.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.toolPanel {
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.spacer {
    display: inline-block;
    min-width: 20px;
}

.button--code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

#myChart {
    height: 100%;
}
