@use 'sass:math';
@use 'core' as *;

html#{$exclude-grid-selector},
h1#{$exclude-grid-selector},
h2#{$exclude-grid-selector},
h3#{$exclude-grid-selector},
h4#{$exclude-grid-selector},
h5#{$exclude-grid-selector},
h6#{$exclude-grid-selector},
.font-size-gargantuan,
.font-size-gigantic,
.font-size-massive,
.font-size-extra-large,
.font-size-large,
.font-size-medium,
.font-size-small,
.font-size-extra-small {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h6#{$selector-exclude-grid},
.text-xs {
    font-size: var(--text-fs-xs);
    line-height: var(--text-lh-xs);
}

h5#{$selector-exclude-grid},
.text-sm {
    font-size: var(--text-fs-sm);
    line-height: var(--text-lh-sm);
}

h4#{$selector-exclude-grid},
.text-base {
    font-size: var(--text-fs-base);
    line-height: var(--text-lh-base);
}

h3#{$selector-exclude-grid},
.text-lg {
    font-size: var(--text-fs-lg);
    line-height: var(--text-lh-lg);
}

h2#{$selector-exclude-grid},
.text-xl {
    font-size: var(--text-fs-xl);
    line-height: var(--text-lh-xl);
}

h1#{$selector-exclude-grid},
.text-2xl {
    font-size: var(--text-fs-2xl);
    line-height: var(--text-lh-2xl);
}

.text-3xl {
    font-size: var(--text-fs-3xl);
    line-height: var(--text-lh-3xl);
}

h1#{$selector-exclude-grid},
h2#{$selector-exclude-grid},
h3#{$selector-exclude-grid},
h4#{$selector-exclude-grid},
h5#{$selector-exclude-grid},
h6#{$selector-exclude-grid},
b#{$selector-exclude-grid},
strong#{$selector-exclude-grid},
.bold-text {
    font-weight: var(--text-bold);
}

.monospace-text {
    font-family: var(--text-monospace-font-family);
}

h1:where(:not(:last-child)),
h2:where(:not(:last-child)),
h3:where(:not(:last-child)),
h4:where(:not(:last-child)),
h5:where(:not(:last-child)),
h6:where(:not(:last-child)) {
    margin-bottom: $spacing-size-4;
}

p:where(:not(:last-child)),
ul:where(:not(:last-child)),
ol:where(:not(:last-child)),
blockquote:where(:not(:last-child)) {
    margin-bottom: $spacing-size-6;
}

.max-text-length {
    max-width: 40em;
}
