@use 'design-system' as *;

.configuration {
    display: flex;
    flex-direction: column;
    gap: $spacing-size-4;
}

.rowModel,
.bundles,
.charts {
    display: flex;
    align-items: center;

    .label {
        width: 140px;
        font-weight: var(--text-semibold);
    }

    > div {
        display: flex;
        gap: $spacing-size-8;
        margin-left: $spacing-size-3;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.enterpriseIcon {
    --icon-size: var(--text-fs-lg);
    --icon-color: var(--color-enterprise-icon);
}
