.container {
    --icon-color: var(--color-enterprise-icon);
    --icon-size: 18px;

    display: flex;
    align-items: center;
    gap: 6px;

    :global(.icon) {
        position: relative;
        top: -2px;
    }
}

.link {
    opacity: 0.5;
    transition: opacity 0.33s ease-in-out;

    :global(.ag-row):hover & {
        opacity: 1;
    }
}

.newTabIcon {
    --icon-size: 14px;

    margin: 2px 2px 0 6px;
}
