@use '../../design-system'as *;

:global(#docs-nav-collapser) {
    $top-bar-height: 58px;

    --menu-width: min(30vw, 320px);
    --font-size: var(--font-size-medium);

    &[aria-hidden='true'] {
        border-bottom-color: transparent;
    }

    @media screen and (max-width: $breakpoint-docs-nav-medium) {
        @include page-horizontal-margins();
    }

    @media screen and (min-width: $breakpoint-docs-nav-medium) {
        --right-margin: max(#{$size-4}, calc(50vw - var(--max-page-width) / 2 - var(--menu-width)));

        flex-shrink: 0;
        width: var(--menu-width);
        height: auto !important;
        margin-right: var(--right-margin);
        border-bottom: none;
        overflow: visible !important;

        >div {
            display: block !important;
        }

        @supports (position: sticky) {
            position: sticky;
            top: $top-bar-height;
            height: calc(100vh - #{$top-bar-height}) !important;
            overflow-x: hidden !important;
            overflow-y: auto !important;
        }
    }
}

// ag-grid.com menu style overrides
:global(#docs-nav-collapser) {
    ul.menuInner {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    li:first-child button:not([class^='ag-']) {
        margin-top: 0;
    }
}

.menu {
    padding-top: $size-4;
    padding-bottom: $size-8;

    h5 {
        text-transform: uppercase;
        margin-bottom: $size-1;
    }

    // Override menuGroup styles
    .seriesTypesNav>li {
        margin-bottom: 0 !important;
        // padding-left: 15px;

        // Remove left line and adjust spacing
        a {
            margin-left: $size-half;
            padding-left: $size-half;
            border-left: none;
        }
    }
}

.enterpriseIcon {
    --text-color: red;
    --button-text-color: red;

    position: relative;
    margin-left: $size-half;
    color: transparent;

    svg {
        --icon-size: 1.15em;

        position: absolute;
        left: 0;
        margin: 0;
        transform: translate(-0.05em, 0.175em);

        .seriesTypesNav & {
            transform: translate(-0.05em, 0.475em);
        }
    }
}

button .menuIcon {
    --icon-size: 1.75em;
    --button-text-color: var(--secondary-text-color);

    bottom: 0.15em;
    margin-right: $size-half;
    opacity: 0.6666;
    transition:
        fill $default-transition-timing,
        opacity $default-transition-timing;
}

a :global(.icon).menuIcon {
    --icon-size: 2em;

    fill: var(--secondary-text-color);
    margin-bottom: $size-half;
    margin-right: $size-half;
    opacity: 0.75;
    transition:
        fill $default-transition-timing,
        opacity $default-transition-timing;

    #{$darkmode-selector} & {
        fill: var(--default-text-color);
    }
}

a :global(.icon).activeMenuIcon {
    fill: var(--active-color);

    #{$darkmode-selector} & {
        fill: var(--active-color);
    }
}
