.ag-charts-context-menu {
    font-family: var(--ag-charts-chrome-font-family);
    font-size: var(--ag-charts-chrome-font-size);
    font-weight: var(--ag-charts-chrome-font-weight);
    z-index: var(--ag-charts-layer-ui-overlay);
}

.ag-charts-context-menu__cover {
    position: fixed;
    left: 0px;
    top: 0px;
}

.ag-charts-context-menu__menu {
    background: var(--ag-charts-menu-background-color);
    border-radius: var(--ag-charts-border-radius);
    border: var(--ag-charts-menu-border);
    box-shadow: var(--ag-charts-popup-shadow);
    color: var(--ag-charts-menu-text-color);
    display: table;
    flex-direction: column;
    padding: 0.5em 0;
    transition: transform 0.1s ease;
    white-space: nowrap;
}

.ag-charts-context-menu__menu:focus {
    /* Do not show a focus indicator around the context-menu. This makes our custom context-menu
     * behave more like a native context-menu, and makes the behaviour more consistent when using
     * a keyboard or mouse to bring up the context-menu. */
    outline: none;
}

.ag-charts-context-menu__item {
    align-items: center;
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: table-row;
    font: inherit;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ag-charts-context-menu__icon > img {
    width: var(--ag-charts-icon-size);
    height: var(--ag-charts-icon-size);
}

.ag-charts-context-menu__icon,
.ag-charts-context-menu__cell {
    display: table-cell;
    vertical-align: middle;
}

.ag-charts-context-menu__chevron-right {
    background: var(--ag-charts-menu-text-color);
    mask-image: url('data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.47%205.47001C7.61062%205.32956%207.80125%205.25067%208%205.25067C8.19875%205.25067%208.38937%205.32956%208.53%205.47001L12.53%209.47001C12.6704%209.61064%2012.7493%209.80126%2012.7493%2010C12.7493%2010.1988%2012.6704%2010.3894%2012.53%2010.53L8.53%2014.53C8.38782%2014.6625%208.19977%2014.7346%208.00547%2014.7312C7.81117%2014.7278%207.62579%2014.649%207.48837%2014.5116C7.35096%2014.3742%207.27225%2014.1888%207.26882%2013.9945C7.26539%2013.8002%207.33752%2013.6122%207.47%2013.47L10.94%2010L7.47%206.53001C7.32955%206.38939%207.25066%206.19876%207.25066%206.00001C7.25066%205.80126%207.32955%205.61064%207.47%205.47001Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
}

.ag-charts-context-menu__cellpadding {
    padding: 0.5em 1em;
}
.ag-charts-context-menu__icon {
    padding-right: 0;
}

.ag-charts-context-menu__item[data-hover-override='true'],
.ag-charts-context-menu__item:hover,
.ag-charts-context-menu__item:active {
    background: var(--ag-charts-focus-color);
}

.ag-charts-context-menu__item[data-focus-visible-override='true']:focus,
.ag-charts-context-menu__item:focus-visible {
    background: var(--ag-charts-focus-color);
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: calc(var(--ag-charts-layer-ui-overlay) + 1);
}
.ag-charts-context-menu__item[data-focus-visible-override='false'] {
    outline: inherit;
    box-shadow: inherit;
    z-index: inherit;
}

.ag-charts-context-menu__item[aria-disabled='true'] {
    border: none;
    color: color-mix(in srgb, var(--ag-charts-input-text-color) 50%, transparent);
    text-align: left;
}

.ag-charts-context-menu__item[aria-disabled='true']:focus {
    background: inherit;
    cursor: inherit;
}

.ag-charts-context-menu__divider {
    display: table-row;
}
.ag-charts-context-menu__divider > div {
    padding: 5px 0;
}
.ag-charts-context-menu__divider > div::after {
    content: '';
    display: block;
    border-top: 1px solid var(--ag-charts-border-color);
}

.ag-charts-context-menu__divider.ag-charts-dark-context-menu {
    background: rgb(33, 150, 243, 0.1);
}
