.ag-charts-context-menu {
    font-family: var(--ag-charts-chrome-font-family);
    font-size: calc(var(--ag-charts-chrome-font-size) * (13 / 12));
    font-weight: var(--ag-charts-chrome-font-weight);
    z-index: var(--ag-charts-layer-ui-overlay);
}

.ag-charts-context-menu__cover {
    position: fixed;
    left: 0px;
    top: 0px;
}

.ag-charts-context-menu__menu {
    background: var(--ag-charts-chrome-background-color);
    border-radius: var(--ag-charts-border-radius);
    border: var(--ag-charts-border);
    box-shadow: var(--ag-charts-shadow);
    color: var(--ag-charts-chrome-text-color);
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    transition: transform 0.1s ease;
    white-space: nowrap;
}

.ag-charts-context-menu__menu:focus {
    /* Do not show a focus indicator around the context-menu. This makes our custom context-menu
     * behave more like a native context-menu, and makes the behaviour more consistent when using
     * a keyboard or mouse to bring up the context-menu. */
    outline: none;
}

.ag-charts-context-menu__item {
    align-items: center;
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    display: flex;
    font: inherit;
    justify-content: space-between;
    padding: 0.5em 1em;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ag-charts-context-menu__icon {
    margin-right: 0.5em;
}

.ag-charts-context-menu__icon > img {
    width: var(--ag-charts-icon-size);
    height: var(--ag-charts-icon-size);
}

.ag-charts-context-menu__label {
    flex-grow: 1;
}

.ag-charts-context-menu__rightarrowhead {
    padding-left: 1em;
}

.ag-charts-context-menu__item:focus,
.ag-charts-context-menu__item:active {
    background: var(--ag-charts-focus-color);
}

.ag-charts-context-menu__item[data-focus-visible-override='true']:focus,
.ag-charts-context-menu__item:focus-visible {
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: calc(var(--ag-charts-layer-ui-overlay) + 1);
}
.ag-charts-context-menu__item[data-focus-visible-override='false'] {
    outline: inherit;
    box-shadow: inherit;
    z-index: inherit;
}

.ag-charts-context-menu__item[aria-disabled='true'] {
    border: none;
    color: color-mix(in srgb, var(--ag-charts-input-text-color) 50%, transparent);
    text-align: left;
}

.ag-charts-context-menu__item[aria-disabled='true']:focus {
    background: inherit;
    cursor: inherit;
}

.ag-charts-context-menu__divider {
    margin: 5px 0;
    background: #babfc7;
    height: 1px;
}

.ag-charts-context-menu__divider.ag-charts-dark-context-menu {
    background: rgb(33, 150, 243, 0.1);
}
