.ag-charts-wrapper {
    position: relative;
    user-select: none;
}

.ag-charts-canvas-center {
    width: 100%;
    height: 100%;

    position: absolute;
    touch-action: auto;

    display: flex;
    align-items: var(--ag-charts-align);
    justify-content: var(--ag-charts-justify);
}

.ag-charts-canvas-container,
.ag-charts-canvas {
    position: relative;
    user-select: none;
}

.ag-charts-canvas-container > *,
.ag-charts-canvas > * {
    display: block;
    pointer-events: none;
}

.ag-charts-series-area {
    outline: none;
    opacity: 0;
    pointer-events: auto;
    position: absolute;
}

.ag-charts-series-area:focus-visible {
    /* This `opacity` CSS property is read by FocusIndicator to determine the `:focus-visible` state. */
    opacity: 1;
}

.ag-charts-canvas-proxy,
.ag-charts-canvas-overlay {
    inset: 0;
    pointer-events: none;
    position: absolute;
    user-select: none;
}

.ag-charts-canvas-overlay > * {
    position: absolute;
    pointer-events: auto;
}
