/* Input */
.ag-charts-input {
    --input-layer-active: 1;
    --input-layer-focus: 2;
    --input-padding: calc(var(--ag-charts-spacing) * 2);
    --input-padding-large: calc(var(--ag-charts-spacing) * 2.5);

    color: var(--ag-charts-input-text-color);
    font-family: var(--ag-charts-chrome-font-family);
    font-size: var(--ag-charts-chrome-font-size-large);
    transition-duration: 0.25s;
    transition-property: none;
    transition-timing-function: ease-out;
}

.ag-charts-input:focus-visible {
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: var(--input-layer-focus);
}

/* Button */
.ag-charts-button {
    background: var(--ag-charts-button-background-color);
    border: var(--ag-charts-button-border);
    border-radius: var(--ag-charts-button-border-radius);
    color: var(--ag-charts-button-text-color);
    cursor: pointer;
    padding: var(--input-padding);
    transition-property: background, border-color;
}

.ag-charts-button:hover {
    background: var(--ag-charts-focus-color);
}

.ag-charts-button:has(.ag-charts-icon) {
    padding: 2px;
}

/* Checkbox */
.ag-charts-checkbox {
    --checkbox-transition-duration: 0.1s;
    appearance: none;
    background: var(--ag-charts-checkbox-background-color);
    border-radius: calc(var(--ag-charts-border-radius) * 9);
    cursor: pointer;
    height: 18px;
    margin: 0;
    transition-duration: var(--checkbox-transition-duration);
    transition-property: margin;
    width: 29px;
}

.ag-charts-checkbox::before {
    display: block;
    background: var(--ag-charts-input-background-color);
    border-radius: calc(var(--ag-charts-border-radius) * 7);
    content: ' ';
    height: 14px;
    margin: 2px;
    transition-duration: var(--checkbox-transition-duration);
    transition-property: margin;
    transition-timing-function: var(--ag-charts-input-transition-easing);
    width: 14px;
}

.ag-charts-checkbox:checked {
    background: var(--ag-charts-checkbox-checked-background-color);
}

.ag-charts-checkbox:checked::before {
    margin-inline-start: 13px;
}

/* Select */
.ag-charts-select {
    background: var(--ag-charts-input-background-color);
    border: var(--ag-charts-input-border);
    border-radius: var(--ag-charts-input-border-radius);
    padding: 3px 2px 4px;
    font-size: inherit;
}

/* Textarea */
.ag-charts-textarea {
    --textarea-line-height: 1.38;

    background: var(--ag-charts-input-background-color);
    border: var(--ag-charts-input-border);
    border-radius: var(--ag-charts-input-border-radius);
    line-height: var(--textarea-line-height);
    font-family: var(--ag-charts-chrome-font-family);
    font-size: var(--ag-charts-chrome-font-size-large);
    padding: var(--input-padding-large) var(--input-padding);
}

.ag-charts-textarea::placeholder {
    color: var(--ag-charts-input-placeholder-text-color);
}
