.ag-charts-focus-indicator {
    position: absolute;
    display: block;
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

.ag-charts-focus-indicator > div {
    position: absolute;
    outline: var(--ag-charts-focus-border);
    outline-width: 2px;
    box-shadow: var(--ag-charts-focus-border-shadow);
}

.ag-charts-focus-indicator > svg {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--ag-charts-focus-border-color);
    stroke-width: 2px;
}
