.ag-charts-focus-indicator {
    position: absolute;
    display: block;
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

.ag-charts-focus-indicator > div {
    position: absolute;
    outline: var(--ag-charts-focus-outline);
    box-shadow: var(--ag-charts-focus-box-shadow);
}

.ag-charts-focus-indicator > svg {
    width: 100%;
    height: 100%;
    fill: none;
}

.ag-charts-focus-svg-outer-path {
    stroke: var(--ag-charts-chrome-background-color);
    stroke-width: 4px;
}

.ag-charts-focus-svg-inner-path {
    stroke: var(--ag-charts-focus-accent-color);
    stroke-width: 2px;
}
