.ag-charts-proxy-container {
    pointer-events: none;
    position: absolute;
}

.ag-charts-proxy-legend-toolbar {
    pointer-events: auto;
}

.ag-charts-proxy-legend-toolbar > div[role='listitem'] {
    pointer-events: none;
}

.ag-charts-proxy-elem {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0);
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
}

.ag-charts-proxy-elem::-moz-range-thumb,
.ag-charts-proxy-elem::-moz-range-track {
    opacity: 0;
}

.ag-charts-proxy-elem::-webkit-slider-runnable-track,
.ag-charts-proxy-elem::-webkit-slider-thumb {
    opacity: 0;
}

.ag-charts-proxy-elem[data-focus-override='true'],
.ag-charts-proxy-elem:focus-visible {
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
}

.ag-charts-proxy-elem[data-focus-override='false'] {
    outline: none;
    box-shadow: none;
}

.ag-charts-proxy-elem svg {
    display: block;
}

.ag-charts-proxy-scrollbar-slider:focus-visible {
    outline: none;
    box-shadow: none;
}

.ag-charts-proxy-scrollbar-thumb-focus {
    border: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
}

.ag-charts-proxy-scrollbar-slider:focus-visible ~ .ag-charts-proxy-scrollbar-thumb-focus {
    opacity: 1;
}
