.ag-charts-theme-default,
.ag-charts-theme-default-dark {
    /******************************************************************************************************************
     * Theme Parameters.
     * Variables defined by the `theme.params`.
     * The values below are overridden, changing them here will have no effect.
     *****************************************************************************************************************/
    --ag-charts-accent-color: #2196f3;
    --ag-charts-background-color: #fff;
    --ag-charts-border-color: #dddddd;
    --ag-charts-border-radius: 4px;
    --ag-charts-chart-background-color: #fff;
    --ag-charts-chart-padding: 20px;
    --ag-charts-focus-color: #e4f2fe;
    --ag-charts-focus-shadow: 0 0 0 3px #2196f3;
    --ag-charts-foreground-color: #181d1f;
    --ag-charts-font-family: Verdana, sans-serif;
    --ag-charts-font-size: 12px;
    --ag-charts-font-weight: 400;
    --ag-charts-popup-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    --ag-charts-subtle-text-color: #8c8c8c;
    --ag-charts-text-color: #181d1f;

    --ag-charts-chrome-background-color: #fafafa;
    --ag-charts-chrome-font-family: Verdana, sans-serif;
    --ag-charts-chrome-font-size: 12px;
    --ag-charts-chrome-font-weight: 400;
    --ag-charts-chrome-subtle-text-color: #8c8c8c;
    --ag-charts-chrome-text-color: #181d1f;

    --ag-charts-button-background-color: #fff;
    --ag-charts-button-border-width: 1px;
    --ag-charts-button-font-weight: normal;
    --ag-charts-button-text-color: inherit;

    --ag-charts-input-background-color: #fff;
    --ag-charts-input-border-width: 1px;
    --ag-charts-input-text-color: #181d1f;

    --ag-charts-menu-background-color: #fafafa;
    --ag-charts-menu-border-width: 1px;
    --ag-charts-menu-text-color: #181d1f;

    --ag-charts-panel-background-color: #fafafa;
    --ag-charts-panel-text-color: #181d1f;

    --ag-charts-tooltip-background-color: #fafafa;
    --ag-charts-tooltip-border-width: 1px;
    --ag-charts-tooltip-text-color: #181d1f;
    --ag-charts-tooltip-subtle-text-color: #8c8c8c;

    --ag-charts-crosshair-label-background-color: #fafafa;
    --ag-charts-crosshair-label-text-color: #181d1f;

    /******************************************************************************************************************
     * Future Theme Parameters.
     * Variables to be added to the `theme.params`.
     *****************************************************************************************************************/
    --ag-charts-spacing: 4px;
    --ag-charts-icon-size: 16px;

    /* Inputs */
    --ag-charts-input-border-radius: var(--ag-charts-border-radius);

    --ag-charts-input-focus-border-color: var(--ag-charts-accent-color);
    --ag-charts-input-focus-text-color: var(--ag-charts-accent-color);

    --ag-charts-input-disabled-background-color: color-mix(
        in srgb,
        var(--ag-charts-chrome-background-color),
        var(--ag-charts-foreground-color) 6%
    );
    --ag-charts-input-disabled-border-color: var(--ag-charts-border-color);
    --ag-charts-input-disabled-text-color: color-mix(
        in srgb,
        var(--ag-charts-chrome-background-color),
        var(--ag-charts-input-text-color) 50%
    );

    --ag-charts-input-placeholder-text-color: color-mix(
        in srgb,
        var(--ag-charts-input-background-color),
        var(--ag-charts-input-text-color) 60%
    );

    /* Buttons */
    --ag-charts-button-border-radius: var(--ag-charts-border-radius);

    --ag-charts-button-focus-background-color: color-mix(
        in srgb,
        var(--ag-charts-button-background-color),
        var(--ag-charts-accent-color) 12%
    );
    --ag-charts-button-focus-border-color: var(--ag-charts-accent-color);
    --ag-charts-button-focus-text-color: var(--ag-charts-accent-color);

    --ag-charts-button-disabled-background-color: color-mix(
        in srgb,
        var(--ag-charts-chrome-background-color),
        var(--ag-charts-foreground-color) 6%
    );
    --ag-charts-button-disabled-border-color: var(--ag-charts-border-color);
    --ag-charts-button-disabled-text-color: color-mix(
        in srgb,
        var(--ag-charts-chrome-background-color),
        var(--ag-charts-chrome-text-color) 50%
    );

    /* Checkboxes */
    --ag-charts-checkbox-background-color: color-mix(
        in srgb,
        var(--ag-charts-background-color),
        var(--ag-charts-foreground-color) 35%
    );
    --ag-charts-checkbox-checked-background-color: var(--ag-charts-accent-color);

    /* Tooltips */
    --ag-charts-tooltip-border-radius: var(--ag-charts-border-radius);

    /* Menu */
    --ag-charts-menu-border-radius: var(--ag-charts-border-radius);

    /******************************************************************************************************************
     * Derived Theme Variables.
     * Values derived from the theme parameters and used in more than one module.
     *****************************************************************************************************************/
    /* Font Sizes */
    --ag-charts-chrome-font-size-small: var(--ag-charts-chrome-font-size); /* TODO: Remove? */
    --ag-charts-chrome-font-size-medium: calc(var(--ag-charts-chrome-font-size) * (13 / 12));
    --ag-charts-chrome-font-size-large: calc(var(--ag-charts-chrome-font-size) * (14 / 12));

    /* Borders */
    --ag-charts-border-width: 1px;
    --ag-charts-border: var(--ag-charts-border-width) solid var(--ag-charts-border-color);

    /* Focus Indicator */
    --ag-charts-focus-border: 1px solid var(--ag-charts-accent-color);
    --ag-charts-focus-border-shadow: 0 0 0 3px color-mix(in srgb, transparent, var(--ag-charts-accent-color) 20%);

    /******************************************************************************************************************
     * Global Variables.
     * Values that are not related to the theme parameters but are used by more than one module.
     *****************************************************************************************************************/
    /* Layout */
    --ag-charts-layer-menu: 6;
    --ag-charts-layer-ui-overlay: 5;
    --ag-charts-layer-tooltip: 4;
    --ag-charts-layer-toolbar: 3;
    --ag-charts-layer-crosshair: 2;
    --ag-charts-layer-annotations: 1;
}

.ag-chart-canvas-wrapper .ag-charts-theme-default {
    /******************************************************************************************************************
     * Integrated Charts Overrides.
     *****************************************************************************************************************/
    --ag-charts-border-radius: var(--ag-border-radius, 4px);
    --ag-charts-border: var(--ag-borders-critical, solid 1px) var(--ag-charts-border-color);

    --ag-charts-focus-shadow: var(--ag-focus-shadow, 0 0 0 3px var(--ag-charts-accent-color));
    --ag-charts-focus-border-shadow: var(
        --ag-focus-shadow,
        0 0 0 3px color-mix(in srgb, transparent, var(--ag-charts-accent-color) 20%)
    );
}
