@use '../core' as *;

button#{$selector-exclude-grid} {
    font-family: var(--text-font-family);
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

button#{$selector-exclude-grid},
input[type='reset']#{$selector-exclude-grid},
input[type='submit']#{$selector-exclude-grid},
.button,
.button-secondary,
.button-tertiary {
    --button-color: var(--color-button-primary-bg);
    --button-hover-color: var(--color-button-primary-bg-hover);
    --button-active-color: var(--color-button-primary-bg-active);
    --button-text-color: var(--color-button-primary-fg);
    --button-border-color: var(--color-button-primary-border);
    --button-focus-box-shadow-color: var(--color-button-primary-shadow-focus);

    appearance: none;
    display: inline-block;
    font-size: var(--text-fs-base);
    font-weight: var(--text-bold);
    padding: 0.375em 1em 0.5em;
    white-space: nowrap;
    border-radius: 6px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;
    outline: none;
    border: 1px solid var(--button-border-color);
    box-shadow: 0 0 0 4px transparent;
    transition:
        background-color $transition-default-timing,
        border $transition-default-timing,
        box-shadow $transition-default-timing;

    &:hover,
    &.hover {
        background-color: var(--color-button-primary-bg-hover);
    }

    &:active {
        background-color: var(--color-button-primary-bg-active);
        transition: background-color 0.125s ease-in-out;
    }

    &:focus-visible,
    &.focus {
        box-shadow: 0 0 0 4px var(--button-focus-box-shadow-color);
    }

    &:disabled,
    &[disabled],
    &.disabled {
        --button-color: var(--color-button-disabled-bg);
        --button-hover-color: var(--color-button-disabled-bg);
        --button-active-color: var(--color-button-disabled-bg);
        --button-text-color: var(--color-button-disabled-fg);
        --button-border-color: var(--color-button-disabled-border);
        --button-focus-box-shadow-color: transparent;

        pointer-events: none;
        cursor: default;
    }

    .icon {
        --icon-size: 2em;

        display: inline-block;
        position: relative;
        bottom: 0.05em;
        margin: -1em 0.125em -1em 0;
    }
}

.button-secondary {
    --button-color: var(--color-button-secondary-bg);
    --button-hover-color: var(--color-button-secondary-bg-hover);
    --button-active-color: var(--color-button-secondary-bg-active);
    --button-text-color: var(--color-button-secondary-fg);
    --button-border-color: var(--color-button-secondary-border);
    --button-focus-box-shadow-color: var(--color-button-secondary-shadow-focus);
}

.button-tertiary {
    --button-color: var(--color-button-tertiary-bg);
    --button-hover-color: var(--color-button-tertiary-bg-hover);
    --button-active-color: var(--color-button-tertiary-bg-active);
    --button-text-color: var(--color-button-tertiary-fg);
    --button-border-color: var(--color-button-tertiary-border);
    --button-focus-box-shadow-color: var(--color-button-tertiary-shadow-focus);
}

.button-secondary,
.button-tertiary {
    &:disabled,
    &[disabled],
    &.disabled {
        --button-color: var(--color-bg-primary);
        --button-hover-color: var(--color-bg-primary);
    }
}

// Transition all the .button-input into .button-secondary / .button-tertiary and remove.
.button-input {
    --button-color: var(--input-background-color);
    --button-hover-color: var(--input-background-color);
    --button-active-color: var(--input-background-color);
    --button-text-color: var(--color-fg-primary);
    --button-focus-box-shadow-color: var(--input-focus-box-shadow-color);

    border: 2px solid var(--color-border-primary);
    transition:
        border-color $default-transition-timing,
        box-shadow $default-transition-timing;

    &:hover:not(:disabled):not([readonly]),
    &:focus-visible:not(:disabled):not([readonly]) {
        border-color: var(--input-focus-border-color);
    }

    &:active {
        background-color: var(--color-button-tertiary-bg-active);
    }

    .icon {
        fill: var(--color-button-tertiary-fg);
    }
}

.button-secondary,
.button-tertiary {
    &:disabled,
    &[disabled],
    &.disabled {
        color: var(--color-button-disabled-fg);
    }
}

.button-style-none,
.button-as-link {
    --button-text-color: var(--color-fg-primary);

    appearance: none;
    padding: 0;
    text-align: left;
    font-weight: var(--text-regular);
    border: none;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:active,
    &.hover {
        color: var(--button-text-color);
        background-color: transparent;
        border: none;
    }

    &:focus-visible,
    &.focus {
        box-shadow: none;
    }
}

.button-style-none {
    color: var(--color-fg-primary);
}

.button-as-link {
    color: var(--color-link);
    transition: color $transition-default-timing;

    transition: color $default-transition-timing;

    &:hover,
    &.hover {
        --button-text-color: var(--link-hover-color);
        --text-color: var(--link-hover-color);
    }
}
