@use '../core' as *;

table#{$selector-exclude-grid} {
    width: 100%;
    margin-bottom: $spacing-size-4;
    border-collapse: collapse;
    border-bottom: 1px solid var(--color-border-primary);

    #{$selector-darkmode} & {
        border-color: #394755;
    }
}

thead#{$selector-exclude-grid},
table:not(.no-zebra) tr:nth-child(even)#{$selector-exclude-grid} {
    background-color: var(--table-odd-row-background-color);
}

tbody#{$selector-exclude-grid} {
    vertical-align: top;
}

tr#{$selector-exclude-grid} {
    border-top: 1px solid var(--color-border-primary);

    #{$selector-darkmode} & {
        border-top-color: #394755;
    }
}

th#{$selector-exclude-grid},
td#{$selector-exclude-grid} {
    padding: $spacing-size-2 $spacing-size-4;
    text-align: left;
}

table.small-header th {
    font-weight: var(--text-regular);
    padding-top: $spacing-size-1;
    padding-bottom: $spacing-size-1;
}

table.stack {
    @include stack-table();
}
