@use '../core' as *;

table#{$exclude-grid-selector} {
    width: 100%;
    margin-bottom: $spacing-size-4;
    border-collapse: collapse;
    border-bottom: 1px solid var(--border-color);

    #{$darkmode-selector} & {
        border-color: #394755;
    }
}

thead#{$exclude-grid-selector},
table:not(.no-zebra) tr:nth-child(even)#{$exclude-grid-selector} {
    background-color: var(--table-odd-row-background-color);
}

tbody#{$exclude-grid-selector} {
    vertical-align: top;
}

tr#{$exclude-grid-selector} {
    border-top: 1px solid var(--border-color);

    #{$darkmode-selector} & {
        border-top-color: #394755;
    }
}

th#{$exclude-grid-selector},
td#{$exclude-grid-selector} {
    padding: $spacing-size-2 $spacing-size-4;
    text-align: left;
}

table.small-header th {
    font-weight: $font-weight-normal;
    padding-top: $spacing-size-1;
    padding-bottom: $spacing-size-1;
}

table.stack {
    @include stack-table();
}
