.ag-charts-toolbar {
    --toolbar-size: 34px;

    --toolbar-border-radius: var(--ag-charts-border-radius);

    --toolbar-button-background-color: var(--ag-charts-chrome-background-color);
    --toolbar-button-border-color: var(--ag-charts-border-color);
    --toolbar-button-border-width: var(--ag-charts-button-border-width);
    --toolbar-button-gap: 0;
    --toolbar-button-padding: 6px;
    --toolbar-button-text-color: var(--ag-charts-button-text-color);

    --toolbar-button-background-color--active: var(--ag-charts-focus-color);
    --toolbar-button-border-color--active: var(--ag-charts-accent-color);
    --toolbar-button-text-color--active: var(--ag-charts-accent-color);

    --toolbar-button-background-color--disabled: var(--ag-charts-button-disabled-background-color);
    --toolbar-button-border-color--disabled: var(--toolbar-button-border-color);
    --toolbar-button-text-color--disabled: var(--ag-charts-button-disabled-text-color);

    --toolbar-button-background-color--hover: var(--ag-charts-focus-color);
    --toolbar-button-border-color--hover: var(--toolbar-button-border-color);
    --toolbar-button-text-color--hover: var(--toolbar-button-text-color);

    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--toolbar-button-gap);
    position: absolute;
}

/* Button */

.ag-charts-toolbar__button {
    align-items: center;
    background: var(--toolbar-button-background-color);
    border-color: var(--toolbar-button-border-color);
    border-style: solid;
    border-width: var(--toolbar-button-border-width);
    color: var(--toolbar-button-text-color);
    cursor: pointer;
    display: flex;
    font-family: var(--ag-charts-chrome-font-family);
    font-size: var(--ag-charts-chrome-font-size-medium);
    font-weight: var(--ag-charts-chrome-font-weight);
    justify-content: center;
    min-height: var(--toolbar-size);
    min-width: var(--toolbar-size);
    padding: var(--toolbar-button-padding);
    position: relative;
    transition:
        background-color 0.25s ease-in-out,
        border-color 0.25s ease-in-out,
        color 0.25s ease-in-out;
    white-space: nowrap;
}

.ag-charts-toolbar__button:hover {
    background: var(--toolbar-button-background-color--hover);
    border-color: var(--toolbar-button-border-color--hover);
    color: var(--toolbar-button-text-color--hover);
    z-index: 1;
}

.ag-charts-toolbar__button:focus-visible {
    outline: var(--ag-charts-focus-border);
    box-shadow: var(--ag-charts-focus-border-shadow);
    z-index: calc(var(--ag-charts-layer-ui-overlay) + 1);
}

.ag-charts-toolbar__button--active,
.ag-charts-toolbar__button--active:hover {
    background: var(--toolbar-button-background-color--active);
    border-color: var(--toolbar-button-border-color--active);
    color: var(--toolbar-button-text-color--active);
    z-index: 2;

    + .ag-charts-toolbar__button {
        border-inline-start-color: var(--toolbar-button-border-color--active);
    }
}

.ag-charts-toolbar__button[aria-disabled='true'] {
    background: var(--toolbar-button-background-color--disabled);
    border-color: var(--toolbar-button-border-color--disabled);
    color: var(--toolbar-button-text-color--disabled);
    cursor: default;
}

/* Orientation */

.ag-charts-toolbar--horizontal {
    flex-direction: row;

    .ag-charts-toolbar__button {
        border-inline-end-width: 0;
    }

    .ag-charts-toolbar__button--first {
        border-end-start-radius: var(--toolbar-border-radius);
        border-start-start-radius: var(--toolbar-border-radius);
        margin: 0;
    }

    .ag-charts-toolbar__button--last {
        border-end-end-radius: var(--toolbar-border-radius);
        border-start-end-radius: var(--toolbar-border-radius);
        border-inline-end-width: var(--toolbar-button-border-width);
    }
}

.ag-charts-toolbar--vertical {
    flex-direction: column;

    .ag-charts-toolbar__button {
        margin: -1px 0 0 0;
        max-width: 100%;
    }

    .ag-charts-toolbar__button--first {
        border-start-start-radius: var(--ag-charts-border-radius);
        border-start-end-radius: var(--ag-charts-border-radius);
        margin: 0;
    }

    .ag-charts-toolbar__button--last {
        border-end-start-radius: var(--ag-charts-border-radius);
        border-end-end-radius: var(--ag-charts-border-radius);
    }
}

/* Icon */

.ag-charts-toolbar__icon + .ag-charts-toolbar__label {
    margin-inline-start: calc(var(--ag-charts-spacing) * 2);
}

.ag-charts-toolbar__label + .ag-charts-toolbar__icon {
    margin-inline-start: calc(var(--ag-charts-spacing) * 2);
}

.ag-charts-toolbar__icon,
.ag-charts-toolbar__label {
    pointer-events: none;
}

/* Floating Toolbar */

.ag-charts-floating-toolbar {
    border: none;
    display: flex;

    .ag-charts-toolbar {
        align-items: unset;
        position: unset;
    }
}

.ag-charts-floating-toolbar__drag-handle {
    align-items: center;
    background: var(--ag-charts-chrome-background-color);
    border-color: var(--ag-charts-border-color);
    border-style: solid;
    border-width: var(--ag-charts-border-width);
    border-end-start-radius: var(--ag-charts-border-radius);
    border-start-start-radius: var(--ag-charts-border-radius);
    border-inline-end-width: 0;
    cursor: grab;
    display: flex;
    justify-content: center;
    min-width: 24px;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.ag-charts-floating-toolbar__drag-handle--dragging {
    cursor: grabbing;
}
