@use '../../design-system' as *;

.featureTable td {
    vertical-align: middle;
}

.enterpriseIcon {
    --icon-size: #{$spacing-size-4};
    --color-icon: var(--color-enterprise-icon);
}

.featureAvailableIcon {
    --color-icon: #28a745;
}

.featureNotAvailableIcon {
    --color-icon: #dc3545;
}

.featureNotAvailableIcon,
.featureAvailableIcon {
    --icon-size: #{$spacing-size-6};
}
