@use '../../design-system' as *;

.featureTitleContainer {
    display: flex;
    align-items: center;
    gap: $spacing-size-2;
}

.enterpriseIcon {
    --icon-size: #{$spacing-size-4};
    --text-color: red;
}

.featureGroup {
    font-size: var(--text-fs-xl);
}
