.ag-charts-crosshair-label {
    position: absolute;
    left: 0px;
    top: 0px;
    user-select: none;
    pointer-events: none;
    font-family: var(--ag-charts-font-family);
    font-size: var(--ag-charts-font-size);
    font-weight: var(--ag-charts-font-weight);
    overflow: hidden;
    white-space: nowrap;
    z-index: var(--ag-charts-layer-crosshair);
    box-sizing: border-box;
}

.ag-charts-crosshair-label-content {
    padding: 4px 8px;
    border-radius: 2px;
    background-color: var(--ag-charts-axis-label-background-color);
    color: var(--ag-charts-axis-label-color);
}

.ag-charts-crosshair-label--hidden {
    visibility: hidden !important;
}
